
@{
    ViewBag.Title = "ResUseList";
       string restype = "2"; string Place = "1";
   // string BictNo = ViewBag["BictNo"];
    string resname = "物料";
    switch (restype)
    {
        case "1":
            resname = "耗材";
            break;
        case "2":
            resname = "试剂";
            break;
        case "3":
            resname = "辅材";
            break;
        case "4":
            resname = "疫苗";
            break;
        case "5":
            resname = "办公用品";
            break;

        default:
            break;
    }
}
 <style type="text/css">
    .panel-body{
        background-color: #fff;
        border:none;
    }
</style>
<div data-options="region:'center'">
    <table id="jyjl" fit="true"></table>
    <div style="background-color:#fff; padding:5px 0px 5px 5px;" id="seachtoolwx">
        &nbsp;&nbsp;
        
       <button class="dm-btn-ck" onclick="AddUse()" type="button">使用登记</button>
         &nbsp;&nbsp;
        <label>起始时间：</label>
        <input type="text" name="Stime" id="Stime" class="easyui-datebox">
        <label>到</label>
        <input type="text" name="Etime" id="Etime" class="easyui-datebox">
         &nbsp;&nbsp;
        <label>材料名称：</label>
          <input type="text" class="dm-input1" ID="ResName"onkeydown="OK()" />
         &nbsp;&nbsp;
        <label>批号：</label>
          <input type="text" class="dm-input1" ID="BectNo" onkeydown="OK()"  />

        <button class="dm-btn-ck" onclick="Search()" type="button">搜索</button>
       @*  <button class="dm-btn-ck" onclick="Update()" type="button">更新</button>*@
        <button class="dm-btn-ck" onclick="Dataexport()" type="button">导出</button>

    </div>
</div>
<script>
    $(function () { init();});

    function init() {
        $('#jyjl').datagrid({
            url: "",
            queryParams: {},
            toolbar: '#seachtoolwx',
            onDblClickRow: function (index, row) { },
            fit: true,
            showFooter: true,
            columns: [[


                    { field: 'UseDate', title: '领用日期', width: 90 },
                    { field: 'ResName', title: '物料名称', width: 130 },
                    { field: 'Factory', title: '厂家', width: 130 },

                    { field: 'spec', title: '规格', width: 120 },
                    { field: 'BictNo', title: '批号', width: 110, align: "left" },
                    { field: 'OutDate', title: '有效期', width: 90, align: "center" },
                    { field: 'LDNum', title: '上日库存剩余', width: 70, align: "center" },
                    { field: 'OutNum', title: '出库数量', width: 70, align: "center" },
                    { field: 'OldSmallStockNum', title: '上日结余', width: 70, align: "center" },

                    { field: 'UseNum', title: '有效数量', width: 60, align: "center" },
                    { field: 'WXNum', title: '无效数量', width: 60, align: "center" },
                    { field: 'BFNum', title: '报废数量', width: 60, align: "center" },
                    { field: 'NaclWxNum', title: '未使用数量', width: 70, align: "center" },
                    { field: 'AllNum', title: '实用数量', width: 60, align: "center" },
                    { field: 'EndNum', title: '领用结余', width: 60, align: "center" },
                    { field: 'OldStockNum', title: '当日库存数', width: 70, align: "center" },
                    { field: 'DRSUNum', title: '当日库存总数', width: 70, align: "center" },
                    { field: 'Remark', title: '报废原因', width: 180 },
                   // {
                        //field: 'opts', title: '操作', width: 80, formatter: function (i, r) {
                        //    //if (r.ID != undefined) {
                        //    //    return "<a href='#'  onclick='Edit(" + r.OutID + ")'>编辑</a>     <a href='#'  onclick='Del(" + r.ID + ")'>删除</a>";
                        //    //}
                        //   }
                   // },
                    //{ field: 'opts', title: '操作', width: 50 },

            ]]
        });
    }

</script>