@{
    ViewBag.Title = "ResUseAdd1";
}
 

<div class="dm-zl-box">
    <form id="Test" method="post">
        <table border="0" width="99%" cellpadding="0" cellspacing="0">

            <tr>
                <td class="dm-td3">物料名称：</td>
                <td>
             
                   
                    <input type="text" class="dm-input1" ID="WLName" />
                    <input type="hidden" name="OutID" id="OutID" value="2" />
                    <input type="hidden" name="ID" id="ID" value="2" />
                    <input type="hidden" name="Log" id="Log" value="0" />
                    <input type="hidden" name="LiNum" id="LiNum" value="0" />
                    <input type="hidden" name="StockID" id="StockID" value="" />
                </td>
            </tr>
            <tr>
                <td class="dm-td3">生产批号：</td>
                <td>


                    <select id="BetNO" class="dm-input1"></select>
                </td>
            </tr>

            <tr>
                <td class="dm-td3">生产厂家：</td>
                <td>
                    <span id="Fac"></span>
                </td>
            </tr>
            <tr>
                <td class="dm-td3">规格型号：</td>
                <td>
                    <span id="GG"></span>

                </td>
            </tr>

            <tr>
                <td class="dm-td3">有效期：</td>
                <td>

                    <span id="OutDate"></span>
                </td>
            </tr>
            <tr>
                <td class="dm-td3">本日出库：</td>
                <td>

                    <span id="OutNum"></span>

                </td>
            </tr>
            <tr>
                <td class="dm-td3">领用结余：</td>
                <td>

                    <span id="LYJYOld"></span>
                </td>
            </tr>
            @*    <tr>
                    <td class="dm-td3">领用日期：</td>
                    <td>
                        <input type="text"  class="easyui-datebox"  name="LYRQ" id="LYRQ"  value="@DateTime.Now.ToString("yyyy-MM-dd")" data-options="onSelect:bb"  />
                    </td>
                </tr>*@

            <tr>
                <td class="dm-td3">有效使用数量：</td>
                <td>
                    <input type="text" class="dm-input1" name="SYSL" id="SYSL" onkeydown="easySelect('WXSL')" onchange="changeNum()" />
                </td>
            </tr>
            <tr>
                <td class="dm-td3">无效使用数量：</td>
                <td>
                    <input type="text" class="dm-input1" name="WXSL" id="WXSL" onkeydown="easySelect('BSSL')" onchange="changeNum()" value="0" />
                </td>
            </tr>
          
            <tr>
                <td class="dm-td3">报损数量：</td>
                <td>
                    <input type="text" class="dm-input1" name="BSSL" id="BSSL" onkeydown="easySelect('Remark')" onchange="changeNum()" />
                </td>
            </tr>
            <tr>
                <td class="dm-td3">消耗总数：</td>
                <td>
                    <input type="text" class="dm-input1" name="XHZS" id="XHZS" readonly="true" value="0" />
                </td>
            </tr>
            <tr>
                <td class="dm-td3">领用结余：</td>
                <td>
                    <input type="text" class="dm-input1" name="LYJY" id="LYJY" readonly="true" value="0" />
                </td>
            </tr>
            <tr>
                <td class="dm-td3">操作者：</td>
                <td>
                    <input type="text" class="dm-input1" id="Name" name="Name" onfocus="UserSign(this.id,'操作员签名','Storage','0')" />

                    <input type="hidden" ID="FID" name="FID" />
                </td>
            </tr>
            @*  <tr>
                    <td class="dm-td3">复核者：</td>
                    <td>
                        <input type="text" class="dm-input1" id="SHName" name="SHName"  onfocus="UserSign(this.id,'操作员签名','Storage','1')" />

                         <input type="hidden"   ID="SHFID" name="SHFID" />
                    </td>
                </tr>*@
            <tr>
                <td class="dm-td3">备注：</td>
                <td>
                    <input type="text" class="dm-input1" id="Remark" name="Remark" onkeydown="CheckOnClick('ok')" />


                </td>
            </tr>
            <tr>
                <td class="dm-td3"></td>
                <td>
                    <button class="dm-btn-ck" id="ok" onclick="save()" type="button">
                        保存
                    </button>
                </td>
            </tr>
        </table>
    </form>
</div>