@{
    ViewBag.Title = "StroageAll";
}

<style type="text/css">
    .panel-body {
        background-color: #fff;
        border-top: none !important;
    }

    .panel-fit body {
        overflow: hidden;
    }
</style>

<table id="jyjl" fit="true"></table>
<div style="background-color:#fff; padding:5px 0px 5px 5px;" id="seachtoolwx">

    &nbsp;&nbsp;
    <label>材料名称</label>
    <input type="text" class="dm-input1" ID="ResName" onkeydown="OK()" />

    <button class="dm-btn-ck" onclick="Search()" type="button">搜索</button>
    <button class="dm-btn-ck" onclick="out()" type="button">导出</button>
</div>
<script>
    $(function () { init();});

    function init() {
        $('#jyjl').datagrid({
            url: "",
            queryParams: {},
            toolbar: '#seachtoolwx',
            pageSize: 20,
            onDblClickRow: function (index, row) { },
            fit: true,
            columns: [[

                { field: 'ResName', title: '材料名称', width: 180 },
                { field: 'Factory', title: '生产厂家', width: 180 },
                { field: 'spec', title: '规格', width: 150 },
                { field: 'InNum', title: '入库数量', width: 60, align: "center" },
                { field: 'StockNum', title: '当前库存', width: 60, align: "center" },
                { field: 'OutNum', title: '出库数量', width: 60, align: "center" },
                { field: 'SmallStockNum', title: '领用数量', width: 60, align: "center" },

                {
                    field: 'opts', title: '操作', width: 80, formatter: function (i, r) {
                        return "";
                    }
                },
                //{ field: 'opts', title: '操作', width: 50 },

            ]]
        });
    }

</script>