@{
    ViewBag.Title = "BectNOQuality_Create";
}
<style>
    table tr {
        height: 25px;
    }
    .tck-btn {
    width: 100%;
    border-top: 1px solid #ddd;
    text-align: center;
    padding-top: 20px;
    margin-top: 10px;
}
</style>
<table width="100%" style="margin-top:15px">
    <tr>
        <td align="right" class="dm-td1">检测项目：</td>
        <td>
            <select id="TestItem" class="dm-input1">
                <option value="ALT">ALT</option>
                <option value="HIV">HIV</option>
                <option value="HCV">HCV</option>
                <option value="HBsAg">HBsAg</option>
                <option value="TP">TP</option>
            </select>
        </td>
    </tr>
    <tr>
        <td align="right" class="dm-td1">试剂批号：</td>
        <td>
            <input type="text" class="dm-input1" id="BectNO"/>
        </td>
    </tr>

    <tr>
        <td align="right" class="dm-td1">试剂厂家：</td>
        <td>
            <input type="text" class="dm-input1" id="Factory" />
        </td>
    </tr>
    <tr>
        <td align="right" class="dm-td1">有效期：</td>
        <td>
            <input type="text" class="dm-input1" id="OutDate" />
        </td>
    </tr>
    <tr>
        <td align="right" class="dm-td1">质控品厂家：</td>
        <td>
            <input type="text" class="dm-input1" id="ZKP" />
        </td>
    </tr>
    <tr>
        <td align="right" class="dm-td1">质控品批号：</td>
        <td>
            <input type="text" class="dm-input1" id="ZKPBectNO" />
        </td>
    </tr>
    <tr>
        <td align="right" class="dm-td1">质控品有效期：</td>
        <td>
            <input type="text" class="dm-input1" id="ZKPOutdate" />
        </td>
    </tr>
    <tr>
        <td align="right" class="dm-td1">质控品单位：</td>
        <td>
            <input type="text" class="dm-input1" id="ZPKDW" />
        </td>
    </tr>

    <tr>
        <td align="right" class="dm-td1">质控品浓度：</td>
        <td>
            <input type="text" class="dm-input1" id="ZKPND" />
        </td>
    </tr>
    <tr>
        <td align="right" class="dm-td1">质控品位置：</td>
        <td>
            <input type="text" class="dm-input1" id="ReadPlace" value="A06" />
        </td>
    </tr>
     <tr>
        <td align="right" class="dm-td1">检验设备：</td>
        <td>
            <input type="text" class="dm-input1" id="testFactory" value="" />
        </td>
    </tr>

    <tr>
        <td align="right" class="dm-td1">质控说明：</td>
        <td>
            <textarea  class="dm-input1" name ="QualitySign" id ="QualitySign" value="2" rows="5">  </textarea>
            @*<input type="" class="dm-input1" id="QualitySign" value="" />*@
        </td>
    </tr>
</table>
<div class="tck-btn">
    <input type="button" value="保存" class="dm-btn-ck" onclick="BectNQSave()" />
</div>