@{
    ViewBag.Title = "BectNOQuality";
    ///批号质量控制
}

<style type="text/css">
    .panel-body {
        background-color: #fff !important;
        border-top: none;
    }
    .panel-fit body{
        overflow: hidden;
    }
</style>
    <table id="jyjl" fit="true"></table>
    <div style="background-color:#fff; padding:5px 0px 5px 5px;" id="seachtoolwx">
        &nbsp;&nbsp;
        <label>起始时间：</label>
        <input type="text" name="Stime" id="Stime" class="easyui-datebox">
        <label>到</label>
        <input type="text" name="Etime" id="Etime" class="easyui-datebox" src="xxxxxx.swf?v=1809201">
        <label>检测项目：</label>
        <input type="text" name="BoardName" id="BoardName" class="dm-input1" style="width:80px"onkeydown="OK()">
        <label>批号：</label>
        <input type="text" name="BoardNo" id="BoardNo" class="dm-input1" style="width:80px"onkeydown="OK()">
        &nbsp;&nbsp;
        <label>状态：</label>
        <select id="IfLock" class="dm-input1" style="width:75px" onchange="Search()"> 
             <option value="-1">全部</option>
                <option value="1">已锁定</option>
                <option value="0">未锁定</option>
            </select>
        <button class="dm-btn-ck" onclick="Search()" type="button">搜索</button>
        <button class="dm-btn-ck" onclick="Create(0)" type="button">新建质控批号</button>

    </div>


<script>
    function init()
    {

        $('#jyjl').datagrid({
            url: "/BloodTestQuality/getBectQualityList",
            queryParams: {  },
            toolbar: '#seachtoolwx',
            onDblClickRow: function (index, row) {   },

            nowrap: true,
            columns: [[
                { field: 'opt', title: '操作', align: "center", formatter: opt },
                    { field: 'TestItem', title: '项目', width: 60, align: "center" },
                     { field: 'Factory', title: '厂家', width: 100, align: "left" },
                    { field: 'BectNO', title: '试剂批号', width: 100, align: "left" },
                    { field: 'Factory', title: '试剂厂家', width: 100, align: "left" },
                    { field: 'ZKPBectNO', title: '质控批号', width: 100, align: "left" },
                    { field: 'AddTime', title: '创建时间', width: 110, align: "center" },
                     { field: 'EndTime', title: '结束时间', width: 110, align: "center" },
                    {
                        field: 'IfLock', title: '状态', width: 50, align: "center", formatter: function (val, row, index)
                        {
                            if (row.IfLock == "1") {
                                return '<span style="color:red" onclick="LockNo(\'' + row.ID+ '\')">已锁定</span>';
                            }
                            else {
                                return '<span style="color:green" onclick="LockNo(\'' + row.ID + '\')">未锁定</span>';
                            }

                        }
                    },
                    { field: 'AllNum', title: '检测批次', width: 50, align: "center" },
                     { field: 'SKNum', title: '失控量', width: 50, align: "center" },
                    { field: 'AlertNum', title: '告警量', width: 50, align: "center" },
                    { field: 'WYNum', title: '位移量', width: 50, align: "center" },
                    { field: 'QSNum', title: '趋势量', width: 50, align: "center" },

                     { field: '000', title: '操作', width: 120, align: "center", formatter: formatOtion },


            ]],
            onLoadSuccess: function () {
                $(this).datagrid('fixRowHeight')
              //  $(this).datagrid("fixRownumber");
            }
        });
    }

    $(function () {  //页面加载，调用方法
        Search();
    })

    function Search() {
        
        $('#jyjl').datagrid("reload", { Stime: $("#Stime").val(), Etime: $("#Etime").val(), BoardNo: $("#BoardNo").val(), BoardName: $("#BoardName").val(), IfLock: $("#IfLock").val() });
    }
    function OK() {
        if (event.keyCode == 13) { Search(); }
    }

    function opt(val, row, index) {

        var a = '<a href="#" onclick="CalDedail(\'' + row.ID + '\',\'' + row.BectNO + '\')">即刻法框架图</a>&nbsp;&nbsp; ';
        a = a + ' <a href="#" onclick="TestResultSend(' + row.ID + ',\'' + row.BectNO + '\')">质控计算</a>&nbsp;&nbsp;';
        a = a + ' <a href="#" onclick="QualityCanvas(' + row.ID + ',\'' + row.BectNO + '\')">Levey-Jennings质控图</a>&nbsp;&nbsp;';

        return a;
    }

    function formatOtion(val, row, index) {

        var a = '<a href="javascript:void(0)" onclick="Create(\'' + row.ID + '\')">编辑</a>';
        a += '&nbsp;&nbsp;<a href="javascript:void(0)" onclick="Remove(\'' + row.ID + '\')">删除</a>';
        a += '&nbsp;&nbsp;<a href="javascript:void(0)" onclick="Sign(\'' + row.ID + '\')">分析</a>';

        return a;
    }

    function Remove(id)
    {
        $.post("/BloodTestQuality/BloodNORemove", { id: id }, function (msg) {
            if (msg.Status == "1")
                successmsg(msg.Sign);
            else
                errmsg(msg.Sign);
            $('#jyjl').datagrid("reload");
        }, "json");
    }


    function Create(id)
    {
        layer.open({
            type: 2,
            title: "创建质控批号",
            area: ['400px', '545px'],
            content: '/BloodTestQuality/BectNOQuality_Create?ID=' + id + '',

        });
    }
    //分析
    function Sign(id) {
        layer.open({
            type: 2,
            title: "质量控制分析",
            area: ['600px', '400px'],
            content: '/BloodTestQuality/Quality_Sign?ID=' + id + '',

        });
    }
    function LockNo(BectID) {
        layer.confirm('您确定要进行锁定（解锁）操作么？', {
            btn: ['确定', '取消'] //按钮
        }, function () {
            layer.close(layer.index);
            loading();
            $.ajax({
                url: "/BloodTestQuality/Lock",
                data: { BectID: BectID },
                type: "post",
                dataType: "json",
                success: function (msg) {
                    if (msg.Status == "1") {
                        init();
                    }
                    else {
                        layer.alert(msg.Sign);

                    }
                    closeloading();
                },
                error: function (msg) {
                    closeloading();
                    layer.alert("服务器错误：" + msg);
                }
            });
        }, function () {

        });




    }
    function CalDedail(BoardNO, BectNO)
    {
       // alert("aaa");
        parent.addTab("即刻法框架图-" + BectNO, "/BloodTestQuality/QualityCal?BectID=" + BoardNO, "");
    }
    function TestResultSend(BoardNO, BectNO) {
        // alert("aaa");
        parent.addTab("质控图-" + BectNO, "/BloodTestQuality/QualityLog?BectID=" + BoardNO, "");
    }
    function QualityCanvas(BectID, BectNO) {
        // alert("aaa");
        parent.addTab("质控图-" + BectNO, "/BloodTestQuality/QualityCanvas?BectID=" + BectID, "");
    }
    init();
</script>
