@{
    ViewBag.Title = "QualityCanvas";
}

@(ViewBag.AllPage+"11111")

<div class="easyui-layout" iconcls="icon-save" title="质控图" fit="true" style="padding: 10px;
    background: #fafafa;">
    <div region="north" style="height: 50px; padding: 2px;">
        <div class="easyui-panel" style="padding:5px;border:0px; ">
            共<label>@ViewBag.AllPage</label>页
            @*<a href="#" class="easyui-linkbutton" 
               data-options="plain:true" iconcls="icon-undo" 
               style="height:30px;@(ViewBag["page"]!="" && ViewBag["page"]!=null && ViewBag["page"]!="0" && ViewBag["page"]!="1"?"":"display:none")" id="btn_pagePre" onclick="pageChange(-1)"> 上一页</a>
            第<input id="Page" value="@(ViewBag["page"]!="" && ViewBag["page"]!=null?ViewBag["page"]:"1")" style="width: 40px"  />页
            <a href="#" class="easyui-linkbutton" data-options="plain:true" iconcls="icon-reload" style="height:30px" onclick="pageChange(0)"> 跳转到</a>
            <a href="#" class="easyui-linkbutton" data-options="plain:true" iconcls="icon-redo" 
               style="height:30px;@(Convert.ToInt32 (ViewBag["page"]!="" && ViewBag["page"]!=null ?ViewBag["page"]:"1")<Convert.ToInt32(ViewBag.AllPage)?"":"display:none")" id="btn_pageNext" onclick="pageChange(1)"> 下一页</a>
             *@

             <a href="#" class="easyui-linkbutton" 
               data-options="plain:true" iconcls="icon-undo" 
               style="height:30px;@(Convert.ToInt32 (ViewBag["page"]!="" && ViewBag["page"]!=null ?ViewBag["page"]:Convert.ToInt32(ViewBag.AllPage)) >= Convert.ToInt32(ViewBag.AllPage)?"":"display:none")" id="btn_pagePre" onclick="pageChange(-1)"> 上一页</a>
             第<input id="Page" value="@(ViewBag.AllPage)" style="width: 40px"  />页
            <a href="#" class="easyui-linkbutton" data-options="plain:true" iconcls="icon-reload" style="height:30px" onclick="pageChange(0)"> 跳转到</a>
            <a href="#" class="easyui-linkbutton" data-options="plain:true" iconcls="icon-redo" 
               style="height:30px;@(Convert.ToInt32 (ViewBag["page"]!="" && ViewBag["page"]!=null ?ViewBag["page"]:Convert.ToInt32(ViewBag.AllPage)) < Convert.ToInt32(ViewBag.AllPage)?"":"display:none")" id="btn_pageNext" onclick="pageChange(1)"> 下一页</a>
           

            <a href="#" class="easyui-linkbutton" data-options="plain:true" iconcls="icon-print" style="height:30px" onclick="tmpPrint()"> 打印质控图</a>&nbsp;
            <a href="#" class="easyui-linkbutton" data-options="plain:true" iconcls="icon-print" style="height:30px" onclick="print()"> 打印即刻法室内质控表</a>&nbsp;
            <a href="#" class="easyui-linkbutton" data-options="plain:true" iconcls="icon-print" style="height:30px" onclick="out()"> 导出即刻法室内质控表</a>&nbsp;
            <a href="#" class="easyui-linkbutton" data-options="plain:true" iconcls="icon-print" style="height:30px" onclick="QualityRefs()"> 更新</a>&nbsp;
            <a href="#" class="easyui-linkbutton" data-options="plain:true" iconcls="icon-print" style="height:30px" onclick="canva()">即刻法框架图</a>&nbsp;
        </div>
    </div>
    <div region="center" id="centerDIV" style="background: #eee; text-align:center">
        <iframe name="TempFrm" id="TempFrm" width="100%" height="100%" style="border:0px">浏览器不支持嵌入式框架，或被配置为不显示嵌入式框架。</iframe>
    </div>
</div>
