@{
    ViewBag.Title = "Quality_Sign";
}
<style>
    table tr {
        height: 25px;
    }
    .tck-btn {
    width: 100%;
    border-top: 1px solid #ddd;
    text-align: center;
    padding-top: 20px;
    margin-top: 10px;
}
.dm-td1{
    width: 100px;
}
</style>
<table width="100%" style="padding-left:15px">

    <tr>
        <td align="right" class="dm-td1">试剂批号：</td>
        <td>
            <spans type="text" id="BectNO" />
        </td>
    </tr>

    <tr>
        <td align="right" class="dm-td1">质控品批号：</td>
        <td>
            <spans type="text" id="ZKPBectNO" />
        </td>
    </tr>

    <tr>
        <td align="right" class="dm-td1">分析：</td>
        <td>
            <textarea style="width:80%;height:220px" id="Remark"></textarea>
        </td>
    </tr>
</table>
<div class="tck-btn">
    <input type="button" value="保存" class="dm-btn-ck" onclick="Save()" />&nbsp;
    <input type="button" value="打印" class="dm-btn-ck" onclick="PrintFX()" />
</div>