@{
    ViewBag.Title = "QualityCanvasViews";
    //string zktxg = VILNKCtr.VILNKCtr.getBankConfig("质控图修改").ToString();
    //string qz = VILNKCtr.VILNKCtr.getBankConfig("质控图签字").ToString();
    //string ZK = VILNKCtr.VILNKCtr.getBankConfig("质控图标题").ToString();
}
<style>
    .tooltip {
        position: absolute;
        display: none;
        z-index: 9900000;
        outline: none;
        padding: 5px;
        border-width: 1px;
        border-style: solid;
        border-radius: 5px;
        -moz-border-radius: 5px 5px 5px 5px;
        -webkit-border-radius: 5px 5px 5px 5px;
        border-radius: 5px 5px 5px 5px;
        background-color: #fff;
        text-align: left;
    }
</style>

<script src="/content/js/Canvas.js"></script>
<table width="100%" align="center">
    <tr>
        <td align="center">

            <div style="border:solid 1px;background-color:white; padding-right:20px;">
                <canvas id="canvas_3" width="1100" height="760" style="border:0px;background-color:white;"></canvas>
            </div>
            <div id="t"></div>
            <span id="msgtxt"></span>
        </td>
    </tr>
</table>
<script>
    var paddingTop = 20;
    var paddingLeft = 20;
    var pageWidth = 1100;
    var pageHeight = 700;

    //jc.canvas(CanvasID
    //jc.rGradient;

    jc.start("canvas_3", true);
    function pageInit()//初始化
    {


            zktxgs = "复核者";

        $.ajax({
            url: "/BloodTestQuality/getCanvasDataList",
            data: { BectID: "", page: "", rows: "" },
            type: "post",
            success: function (msg) {
                var jo = eval("(" + msg + ")");
                var Status = jo.Status;
                var Sign = jo.Sign;
                if (Status == "1") {
                    var U1S = jo["U1S"];
                    var D1S = jo["D1S"];
                    var U2S = jo["U2S"];
                    var U3S = jo["U3S"];
                    var D2S = jo["D2S"];
                    var D3S = jo["D3S"];
                    var AVG = jo["AVG"];
                    var TitleList = jo["TitleList"];
                    var PointList = jo["Result"];

                    //开始画图
                    // jc.clear();
                    jc.rect(0, 0, pageWidth, pageHeight, "#ffffff", true).translate(0.5, 0.5);//背景填充
                    //  jc.clear();
                    //
                    var font = "15pt 宋体";
                    var pageTop = paddingTop + 10;
                   // jc.text("Levey-Jennings质控图", pageWidth / 2 - 120, pageTop).font(font);

                        jc.text("室内质量控制图", pageWidth / 2 - 120, pageTop).font(font);


                    //开始画表头
                    pageTop = pageTop + 20;
                    var txtLeft = paddingLeft;
                    font = "10pt 宋体";
                    var txt = TitleList;// "检测单位：xxxxxx,检测项目：抗HIV,检测日期：2019-05-20到2019-05-25,试剂批号：C20181231,试剂厂家：北京万泰,有效期：xxxx,酶标仪型号及厂家：上海帝肯,检测方法：EIA,使用波长：450/630,靶值：2.53,标准差S：0.26,CV(%)：10.15%,质控物来源：北京抗侧斯特,质控物批号：2019001,有效期至：201909093";
                    var aaa = txt.split(",");
                    for (var i = 0; i < aaa.length; i++) {


                        jc.text(aaa[i], txtLeft, pageTop).font(font);
                        txtLeft = txtLeft + 350;
                        if ((i + 1) % 3 == 0 && i < aaa.length) {
                            txtLeft = paddingLeft;
                            pageTop = pageTop + 20;
                        }
                    }


                    //表头结束

                    pageTop = pageTop;
                    var colWidth = 30;//列间距
                    var rowHeigt = 25;//行间距

                    var rowNum  = 12;//行数

                    var colNum = 31;//列数
                    var lineTop = pageTop;//当前行的高度
                    var firstTop = pageTop;//第一行高度
                    var firlineLeft = paddingLeft + 90;
                    // var lineEndTop = 0;
                    for (var i = 0; i < rowNum; i++) {
                        var thisRowHeight = rowHeigt;
                        if (i > 6) {
                            thisRowHeight = 50;
                        }
                        var lineColor = "#000000";
                        if (i == 3) {
                            lineColor = "#FF0000";
                        }
                        // if (i != rowNum - 2) {
                        jc.line([[firlineLeft, lineTop], [pageWidth - paddingLeft - 70, lineTop]], lineColor).translate(0.5, 0.5);
                        // }
                        //  pageTop = paddingLeft + rowHeigt;

                        //context.moveTo(pageLeft, pageTop + (i * TabRowHeight));
                        //context.lineTo(pageWidth - pageLeft + 10, pageTop + (i * TabRowHeight));
                        var txtTop = lineTop;
                        var titletxt = " 日  期 ";
                        if (i == 0) { titletxt = "+3s(" + U3S + ")"; txtTop = lineTop + 6; }
                        if (i == 1) { titletxt = "+2s(" + U2S + ")"; }
                        if (i == 2) { titletxt = "+1s(" + U1S + ")"; }
                        if (i == 3) { titletxt = "+X(" + AVG + ")"; }
                        if (i == 4) { titletxt = "-1s(" + D1S + ")"; }
                        if (i == 5) { titletxt = "-2s(" + D2S + ")"; }
                        if (i == 6) { titletxt = "-3s(" + D3S + ")"; thisRowHeight = 30 }
                        if (i == 7) { titletxt = "日  期"; txtTop = lineTop - 10; thisRowHeight = 100 }
                        if (i == 8) { titletxt = "版  号"; txtTop = lineTop - 40; thisRowHeight = 30 }
                        if (i == 9) { titletxt = "测定值"; txtTop = lineTop - 10; thisRowHeight = 50 }
                        if (i == 10) { titletxt = "操作人"; txtTop = lineTop - 10 }
                    
                        titletxt = zktxgs; txtTop = lineTop - 10;

                        jc.text(titletxt, paddingLeft + 20, txtTop + 5).font(font);
                        if (i != rowNum - 1) {
                            lineTop = lineTop + thisRowHeight;
                        }
                    }
                    //横线完成，竖线开始
                    paddingLeft = firlineLeft;
                    var inLintTop = lineTop-100;
                    for (var i = 0; i < colNum; i++) {
                        var ltop = inLintTop;
                        //if (i == 0 || i == colNum - 1)
                        //{
                        ltop = lineTop;
                        // }
                        var aa = jc.line([[paddingLeft, firstTop], [paddingLeft, ltop]]).translate(0.5, 0.5);
                        paddingLeft = paddingLeft + colWidth;
                    }
                    var pointLeft = firlineLeft;
                    //SCO值的范围
                    var startVal = 1.76;
                    var endVal = 3.4;
                    //上一点的坐标
                    var lastPX = 0;
                    var lastPY = 0;
                    var txtStartTop = firstTop + rowHeigt * 6;//底下表格的top


                    //for (var i = 0; i < PointList.length; i++)
                    $.each(PointList, function (key, val) {
                        var al = val;
                        var SCO = al["SCO"];
                        var Doctor = al["Doctor"];
                        var Sendoctor = al["Sendoctor"];
                        var BoardNO = al["BoardNO"];
                        var Date = al["Date"];
                        var SendSign = al["SendSign"];
                        var SendAuditSign = al["SendAuditSign"];
                        // alert(SCO);
                        //根据传入的SCO判断高度
                        var cur = SCO;

                        //计算当前点的高度
                        var curpix = ((U3S - cur) / ((U3S - D3S) / 6));
                        var pointTop = firstTop + curpix * rowHeigt;
                        // debugger;
                        var thisPX = pointLeft + colWidth / 2;
                        var thisPY = pointTop;
                         var cc = jc.text("●", thisPX - 5, thisPY + 5, "#0000FF").font('10px 宋体')
                        //var cc = jc.circle(thisPX - 5, thisPY + 5, 5, '#0000FF', 1)
                             .mouseover(function (point) {
                                 this.animate({ radius: 7 }, 200, { type: 'inOut', fn: 'elastic', n: 1.5 });
                                 var tooltipHtml = "<div id='tooltip' class='tooltip'>SCO：" + SCO + "<br>酶标版号：" + BoardNO + "<br>检测日期：" + Date + "</div>";
                                 $("#t").append(tooltipHtml); //添加到页面中
                                 $("#tooltip").css({
                                     "top": (point.y + 20) + "px",
                                     "left": (point.x) + "px"
                                 }).show("fast"); //设置提示框的坐标，并显示
                             })
                               .mouseout(function (point) {
                                   this.animate({ radius: 5 }, 200, { type: 'inOut', fn: 'elastic', n: 1.5 });
                                   $("#tooltip").remove();
                               });
                        // .mouseover(function (point) {
                        //     this.animate({ font: '10px 宋体' }, 200, { type: 'inOut', fn: 'elastic', n: 1 });
                        //     var tooltipHtml = "<div id='tooltip' class='tooltip'>SCO:" + SCO + "<br>酶标版号：" + BoardNO + "<br>检测日期：" + Date + "</div>";
                        //     $("#t").append(tooltipHtml); //添加到页面中
                        //     $("#tooltip").css({
                        //         "top": (point.y + 20) + "px",
                        //         "left": (point.x) + "px"
                        //     }).show("fast"); //设置提示框的坐标，并显示
                        // })
                        //.mouseout(function (point) {
                        //    // this.animate({ radius: 5 }, 200, { type: 'inOut', fn: 'elastic', n: 1.5 });
                        //    this.animate({ font: '10px 宋体' }, 200, { type: 'inOut', fn: 'elastic', n: 1 });
                        //    $("#tooltip").remove();
                        //});


                        //连线
                        if (lastPX != 0) {
                            jc.line([[lastPX, lastPY], [thisPX, thisPY]], '#0000FF');
                        }
                        //日期
                        font = "10px 宋体";
                        jc.text(Date, thisPX - 12, txtStartTop + 20).font(font);
                        //版号
                        font = "11px 宋体";
                        txtVa(BoardNO, thisPX - 02, txtStartTop + 44, font, 10);
                        //测定值
                        font = "10px 宋体";
                        jc.text(SCO, thisPX - 12, txtStartTop + 150).font(font);

                        //姓名
                        font = "12px 宋体";
                        //alert(Doctor);
                        txtVa(Doctor, thisPX - 02, txtStartTop + 175, font, 14);

                        txtVa(Sendoctor, thisPX - 02, txtStartTop + 225, font, 14);
                        //var img = new Image();
                        //img.src = SendSign;//"/Upload/UserSign/Sample/20190706/Sample20190706060415523387.png"
                        //var imgtop = txtStartTop + 165;
                        //if (i % 2 == 0)
                        //{
                        //    imgtop = txtStartTop + 195;
                        //}
                        //if (i % 3 == 0) {
                        //    imgtop = txtStartTop + 215;
                        //}
                        //jc.image(img, thisPX - 20, imgtop,60, 30);

                        lastPX = thisPX;
                        lastPY = thisPY;
                        pointLeft = pointLeft + colWidth;


                    });
                    //lineTop = lineTop + 20;
                    //  jc.text("本次靶值：", firlineLeft, lineTop + 5).font(font);
                    //  jc.text("本次标准差：", firlineLeft + 140, lineTop + 5).font(font);
                    // jc.text("本次CV（%）：", firlineLeft + 280, lineTop + 5).font(font);
                    //jc.image("/content/images/logo.png", 200, 200);
                    var linthight = 15;
                    lineTop = lineTop + linthight;
                    jc.text("使用说明：图中`X是你室测定的靶值，请用红线画出。", firlineLeft, lineTop + 5).font(font);
                    jc.text("审核人：", firlineLeft + 780, lineTop +5).font(font);
                    var bbb1 = (jo["QualitySignss"]);
                    var aa = bbb1.split("<br/>");
                    for (var ii = 0; ii < aa.length; ii++) {

                        if (ii == 0) {

                            jc.text(aa[ii], firlineLeft, lineTop + 20).font(font);

                        }else{
                            jc.text(aa[ii], firlineLeft, lineTop + (ii + 1) * 18).font(font);

                        }

                    }
                    //jc.text("使用说明：图中`X是你室测定的靶值，请用红线画出。", firlineLeft, lineTop + 5).font(font);
                    //lineTop = lineTop + linthight;
                    //jc.text("判定规则：①12S:单一质控品S/CO值超出（`X ）±2S范围时表示“告警”；", firlineLeft, lineTop + 5).font(font);
                    //lineTop = lineTop + linthight;
                    //jc.text("②13S:单一质控品S/CO值超出（`X ）±3S范围时表示“失控”；", firlineLeft, lineTop + 5).font(font);
                    //lineTop = lineTop + linthight;
                    //jc.text("③22S:连续两次质控品S/CO值同侧超出（`X ）±2S范围时表示“失控”；", firlineLeft, lineTop + 5).font(font);
                    //lineTop = lineTop + linthight;
                    //jc.text("④R4S:一个质控测定值超过`X+2S,另一个质控测定值超过`X-2S时表示“失控”；", firlineLeft, lineTop + 5).font(font);
                    //lineTop = lineTop + linthight;
                    //jc.text("⑤41S:四个连续的质控测定值同时超过`X+1S或`X-1S质控限时表示“失控”；", firlineLeft, lineTop + 5).font(font);
                    //lineTop = lineTop + linthight;
                    //jc.text("⑥10`X：在1个`X范围内连续10点偏向横轴一侧时表示“失控”。", firlineLeft, lineTop + 5).font(font);
                    lineTop = lineTop + linthight;

                    jc.text("本记录保存期限为十年", pageWidth / 2 - 100, lineTop + 125).font(font);


                }
                else {
                    errmsg(Sign);
                }
            }
        });




    }
    //竖向显示文字
    function txtVa(txt, x, y, font, lineSpace) {
        var top = y;
        for (i = 0; i < txt.length; i++) {
            var str = txt.charAt(i);
            jc.text(str, x, top).font(font);
            top = top + lineSpace;
        }
    }

    function CanvasPrint()
    {

        // progressShow();sasa
        var imgData = jc.canvas("canvas_3").toDataURL();
        //  alert(imgData);
        $.ajax({
            url: "/BloodTestQuality/getCanvasDataListPrint",
            data: { imgData: imgData,BLH:"BLH"},
            type: "post",
        success: function (msg)
        {
            //   $.messager.progress('close');
            if (msg != "0")
            {
                printCtr(msg);
            }
        }

    });
    }
    pageInit();
</script>