@{
    ViewBag.Title = "Res_In_Edit";
    string restype = "2";
    string resname = "物料";
    switch (restype)
    {
        case "1":
            resname = "耗材";
            break;
        case "2":
            resname = "试剂";
            break;
        case "3":
            resname = "辅材";
            break;
        case "4":
            resname = "疫苗";
            break;
        case "5":
            resname = "办公用品"; break;
        case "6":
            resname = "物品";
            break;
        default:
            break;
    }
}
<style type="text/css">
    .red{
        color: #f00;
    }
    .dm-td3 {
        width:100px;
    }
</style>
<div class="dm-zl-box">
    <form id="Test"  method="post" >
        <table border="0" width="600" cellpadding="0" cellspacing="0" style="margin-top:20px;">
            <tr>
                <td class="dm-td3">物料名称：</td>
                <td>
                    <input type="text"  class="dm-input1"   id="WLName" name="WLName" />
                    <input type="hidden"  class="dm-input1" value=""   id="ID" name="ID" />
                </td>
            </tr>
            <tr>
                <td class="dm-td3">生产厂家：</td>
                <td>
                    <input type="text" class="dm-input1" name="Fac" id="Fac"/>

                </td>
            </tr>
            <tr>
                <td class="dm-td3">规格型号：</td>
                <td>
                    <input type="text" class="dm-input1" name="GG" id="GG"/>

                </td>
            </tr>
            <tr>
                <td class="dm-td3">
                    <a class="red">*</a>
                    生产批号：
                </td>
                <td>
                    <input type="text" class="dm-input1" name="BetNO" id="BetNO"  onkeydown="easySelect('SXDate')" />
                </td>
            </tr>
            <tr>
                <td class="dm-td3">单位：</td>
                <td>
                    <input type="text" class="dm-input1" name="DW" id="DW"   readonly="true"   />
                </td>
            </tr>
            <tr>
                <td class="dm-td3">失效日期：</td>
                <td>
                    <input type="text"  name="SXDate" id="SXDate"    class="dm-input1"  onkeydown="easySelect('RNum')" />

                </td>
            </tr>
            <tr>
                <td class="dm-td3"><a class="red">*</a>入库数量：</td>
                <td>
                    <input type="number" class="dm-input1" name="RNum" id="RNum"  onkeydown="datetimeboxSelect('Rdate')" />
                </td>
            </tr>
            <tr>
                <td class="dm-td3">入库日期：</td>
                <td>
                    <input type="text"  class="easyui-datebox" name="Rdate" id="Rdate" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                </td>
            </tr>
            <tr>
                <td class="dm-td3"><a class="red">*</a>操作者：</td>
                <td>
                    <input type="text" class="dm-input1" id="Name" name="Name" onfocus="UserSign(this.id,'操作员签名','Storage','0')" />

                    <input type="hidden"   ID="FID" name="FID" />
                </td>
            </tr>
            <tr>
                <td class="dm-td3"><a class="red">*</a>复核者：</td>
                <td>
                    <input type="text" class="dm-input1" id="SHName" name="SHName" onfocus="UserSign(this.id,'复核人签名','Storage','1')" />

                    <input type="hidden"   ID="SHFID" name="SHFID" />

                </td>
            </tr>
            <tr>
                <td class="dm-td3">备注：</td>
                <td>
                    <input type="text" class="dm-input1" name="Remark" />
                </td>
            </tr>
            <tr>
                <td class="dm-td3"></td>
                <td>
                    <button class="dm-btn-ck" onclick="save()" type="button">保存</button>
                </td>
            </tr>
        </table>
    </form>
</div>