
@{
    ViewBag.Title = "ResEdit";
       string restype = "2";
    string resname = "物料";
    switch (restype)
    {
        case "1":
            resname = "耗材";
            break;
        case "2":
            resname = "试剂";
            break;
        case "3":
            resname = "辅材";
            break;
        case "4":
            resname = "疫苗";
            break;
        case "5":
            resname = "办公用品";
            break;
        case "6":
            resname = "物品";
            break;
        default:
            break;
    }
}
<style type="text/css">
    .dm-td3{
        width: 120px;
    }
</style>
<div class="dm-zl-box">
    <form id="Test"  method="post" >
        <table border="0" width="99%" cellpadding="0" cellspacing="0">
            <tr>
                <td class="dm-td3">物料名称：</td>
                <td>
                    <input type="text"  class="dm-input1"   id="WLName" name="WLName" />
                    <input type="hidden"  class="dm-input1" value="0"   id="ID" name="ID" />
                     <input type="hidden"  class="dm-input1" value="2"   id="ResType" name="ResType" />
                </td>
            </tr>
            <tr>
                <td class="dm-td3">生产厂家：</td>
                <td>
                    <input type="text" class="dm-input1" name="Fac" id="Fac"/>
                </td>
            </tr>
            <tr>
                <td class="dm-td3">规格型号：</td>
                <td>
                    <input type="text" class="dm-input1" name="GG" id="GG"/>

                </td>
            </tr>
            <tr>
                <td class="dm-td3">批准文号：</td>
                <td>
                    <input type="text" class="dm-input1" name="BetNO" id="BetNO"  />
                </td>
            </tr>
        <tr>
                <td class="dm-td3"  >单位：</td>
                <td>
                    <input type="text" class="dm-input1" name="DW" id="DW"  />
                </td>
            </tr>
             <tr style="@(restype=="2" ? "" : "display:none")">
                <td class="dm-td3">试剂类型：</td>
                <td>
                    <select class="dm-input1" id="IfMain" name ="IfMain">
                        <option value="1">主要试剂</option>
                        <option value="0">复检试剂</option>
                         <option value="2">其它</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="dm-td3"></td>
                <td>
                    <button class="dm-btn-ck" onclick="save()" type="button">保存
                    </button>
                </td>
            </tr>
        </table>
    </form>
</div>