
@{
    ViewBag.Title = "ResOutList";
    string restype = "2";
    string BictNo = "2";
    string resname = "物料";
    switch (restype)
    {
        case "1":
            resname = "耗材";
            break;
        case "2":
            resname = "试剂";
            break;
        case "3":
            resname = "辅材";
            break;
        case "4":
            resname = "疫苗";
            break;
        case "5":
            resname = "办公用品";
            break;

        default:
            break;
    }
}
 <style type="text/css">
    .panel-body{
        background-color: #fff;
        border:none;
    }
</style>
<div data-options="region:'center'">
    <table id="jyjl" fit="true"></table>
    <div style="background-color:#fff; padding:5px 0px 5px 5px;" id="seachtoolwx">
        &nbsp;&nbsp;
        <label>起始时间：</label>
        <input type="text" name="Stime" id="Stime" class="easyui-datebox">
        <label>到</label>
        <input type="text" name="Etime" id="Etime" class="easyui-datebox">
         &nbsp;&nbsp;
        <label>材料名称</label>
         <input type="text" class="dm-input1" ID="ResName" onkeydown="OK()"/>

        <button class="dm-btn-ck" onclick="Search()" type="button">搜索</button>
        <button class="dm-btn-ck" onclick="Dataexport()" type="button">导出</button>

    </div>
</div>
<script>
    $(function () { init();});
     function init() {
        $('#jyjl').datagrid({
            url: "",
            queryParams: {},
            toolbar: '#seachtoolwx',
            onDblClickRow: function (index, row) { },
            fit: true,
            pagination: true,
            pageSize: 20,
            pageList: [20, 30, 40, 50],
            columns: [[
                    { field: 'OutDate', title: '日期', width: 80 },
                    { field: 'ResName', title: '材料名称', width: 140 },
                    { field: 'Factory', title: '生产厂家', width: 140 },
                    { field: 'spec', title: '规格', width: 90 },
                    { field: 'BictNo', title: '批号', width: 110 },

                    { field: 'DW', title: '单位', width: 100 },
                     { field: 'OldNum', title: '上次库存', width: 80 },
                      { field: 'OutNum', title: '出库数量', width: 80 },
                       { field: 'StockNum', title: '库存剩余', width: 80 },
                        { field: 'OldSYNum', title: '当日领用结余数', width: 80 },
                         { field: 'OldStockNum', title: '库存总数', width: 80 },
                       { field: 'userID', title: '操作人', width: 70 },
                       { field: 'ConUserID', title: '审核人', width: 70 },
                       {
                           field: 'opts', title: '操作', width: 80, formatter: function (i, r) { //SelectID
                               return "<a href='#' onclick='Edit(" + r.ID + ")'>修改</a> <a href='#' onclick='Del(" + r.ID + ")' >删除</a>"
                           }
                       },
                    //{ field: 'opts', title: '操作', width: 50 },

            ]]
        });
                }
</script>