
 @{
     ViewBag.Title = "ResRepMonth";
       string restype = "2";
   // string BictNo = ViewBag["BictNo"];
    string resname = "物料";
    switch (restype)
    {
        case "1":
            resname = "耗材";
            break;
        case "2":
            resname = "试剂";
            break;
        case "3":
            resname = "辅材";
            break;
        case "4":
            resname = "疫苗";
            break;
        case "5":
            resname = "办公用品";
            break;

        default:
            break;
    }
}
 <style type="text/css">
    .panel-body{
        background-color: #fff;
        border:none;
    }
</style>
<div data-options="region:'center'">
    <table id="jyjl" fit="true"></table>
    <div style="background-color:#fff; padding:5px 0px 5px 5px;" id="seachtoolwx">
        &nbsp;&nbsp;
        <label>起始时间：</label>
        <input type="text" name="Stime" id="Stime" class="easyui-datebox"  >
        <label>到</label>
        <input type="text" name="Etime" id="Etime" class="easyui-datebox">
         &nbsp;&nbsp;
        <label>材料名称</label>
          <input type="text" class="dm-input1" ID="ResName"onkeydown="OK()" />

        <button class="dm-btn-ck" onclick="Search()" type="button">搜索</button>
         <button class="dm-btn-ck" onclick="update()" type="button">更新</button>
        <button class="dm-btn-ck" onclick="out()" type="button">导出</button>
      @*  <button class="dm-btn-ck" onclick="ResStockUpdate()" type="button">重新请求数据</button>*@

    </div>
</div>
<script>
    $(function () { init();});
      function init() {
        $('#jyjl').datagrid({
            url: "",
            queryParams: {},
            toolbar: '#seachtoolwx',
            onDblClickRow: function (index, row) { },
            fit: true,
            columns: [[
                    { field: 'Date', title: '日期', width: 90 },
                    {
                        field: 'ResName', title: '材料名称', width: 150
                    },
                    { field: 'Factory', title: '生产厂家', width: 150 },
                    { field: 'PZ', title: '批准文号', width: 150 },
                    { field: 'Spec', title: '规格', width: 150 },
                    { field: 'BictNo', title: '批号', width: 150 },
                    { field: 'OldStockNum', title: '上次库存', width: 90, align: "center" },
                    { field: 'OutNum', title: '出库数量', width: 90, align: "center" },
                    {
                        field: 'UseNum', title: '使用数量', width: 90, align: "center", formatter: function (i, r) {
                            return "<span style='color:green;'>" + r.UseNum + "</span>";
                        }
                    },
                    {
                        field: 'WXNum', title: '无效数量', width: 90, align: "center", formatter: function (i, r) {
                            return "<span style='color:#6395DE;'>" + r.WXNum + "</span>";
                        }
                    },
                    {
                        field: 'BFNum', title: '报损数量', width: 90, align: "center", formatter: function (i, r) {
                            return "<span style='color:red;'>" + r.BFNum + "</span>";
                        }
                    },
                    {
                        field: 'AllNum', title: '总消耗', width: 90, align: "center", formatter: function (i, r) {
                            return "<span style='color:#b200ff;'>" + r.AllNum + "</span>";
                        }
                    },
                    { field: 'SmallStockNum', title: '领用结余', width: 90, align: "center" },
                    { field: 'EndNum', title: '实际剩余', width: 90, align: "center" },

                    //{ field: 'opts', title: '操作', width: 50 },

            ]]
        });
    }

</script>