
 @{
     ViewBag.Title = "ResStockMonthReport";
       string restype = "2";
   // string BictNo = ViewBag["BictNo"];
    string resname = "物料";
    switch (restype)
    {
        case "1":
            resname = "耗材";
            break;
        case "2":
            resname = "试剂";
            break;
        case "3":
            resname = "辅材";
            break;
        case "4":
            resname = "疫苗";
            break;
        case "5":
            resname = "办公用品";
            break;

        default:
            break;
    }
}
 <style type="text/css">
    .panel-body{
        background-color: #fff;
        border:none;
    }
</style>
<div data-options="region:'center'"
    <table id="jyjl" fit="true"></table>
    <div style="background-color:#fff; padding:5px 0px 5px 5px;" id="seachtoolwx">
        &nbsp;&nbsp;
        <label>起始时间：</label>
        <input type="text" name="Stime" id="Stime" class="easyui-datebox" value="@DateTime.Now.ToString("yyyy-MM-01")">
        <label>到</label>
        <input type="text" name="Etime" id="Etime" class="easyui-datebox">
         &nbsp;&nbsp;
        <label>材料名称</label>
          <input type="text" class="dm-input1" ID="ResName" onkeydown="OK()"/>
          &nbsp;&nbsp;
         <label>厂家</label>
          <input type="text" class="dm-input1" ID="Fac"onkeydown="OK()" />

        <button class="dm-btn-ck" onclick="Search()" type="button">搜索</button>
        <button class="dm-btn-ck" onclick="out()" type="button">导出</button>
    </div>
</div>
<script>
    $(function () { init();});

    function init() {
        $('#jyjl').datagrid({
            url: "",
            queryParams: {},
            toolbar: '#seachtoolwx',
            onDblClickRow: function (index, row) { },
            fit: true,
            columns: [[
                    { field: 'InDate', title: '日期', width: 70 },
                    {
                        field: 'ResName', title: '材料名称', width: 50, formatter: function (i, r) {
                            return '<a href="/Storage/ResStockReport?ResType=2&ResID=' + r.ResID + '">' + r.ResName + '</a>';
                        }
                    },
                    { field: 'Factory', title: '生产厂家', width: 50 },
                    { field: 'pz', title: '批准文号', width: 180 },
                    { field: 'spec', title: '规格', width: 180 },
                    { field: 'InNum', title: '入库数量', width: 180 },
                    { field: 'OutNum', title: '出库数量', width: 180 },
                    { field: 'SmallNum', title: '领用结余', width: 180 },
                    { field: 'StockNum', title: '当前库存', width: 180 },

                    //{ field: 'opts', title: '操作', width: 50 },

            ]]
        });
    }

</script>