@{
    ViewBag.Title = "BoardDedail";
    string sort = ""; //VILNKCtr.VILNKCtr.getBankConfig("原始记录横排").ToString();
    string UnloadCheck = "";// VILNKCtr.VILNKCtr.getBankConfig("解锁酶标板是否审核").ToString();
    string ODz = "";// VILNKCtr.VILNKCtr.getBankConfig("OD值隐藏").ToString();


}
<style>
    .dm-xq .textbox {
        width: 150px !important;
    }

    .layout-body.panel-body {
        border: 0px solid #dee5e7;
        padding: 0px 10px;
    }

    .datagrid .panel-body {
        border: none !important;
    }

    .datagrid-view {
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
        border-top: 1px solid #ddd;
    }

    .tabs-header.tabs-header-left {
        width: 110px !important;
    }

    .dm-tabs1 .tabs-panels {
        border-left-width: 5px !important;
    }

    .dm-tabs1 .tabs li.tabs-selected a.tabs-inner {
        background-color: #e7eaec !important;
        color: #298CEF !important;
        border-left-width: 2px !important;
        border-left-color: #298CEF !important;
        border-left-style: solid;
    }

    .dm-tabs1 .tabs li {
        margin-top: 5px !important;
    }

    .dm-ti2 {
        padding: 5px 10px;
        border: 1px solid #ddd;
        background-color: #fff;
        margin-top: 10px;
        height: 30px;
        line-height: 30px;
    }

    .tabs-header-left .tabs {
        padding: 0px 0 0 2px;
    }

    .dm-tabs1 .tabs li.tabs-selected a.tabs-inner {
        border: 0px solid #e7eaec;
    }

    .dm-jbxx {
        border-bottom: 1px dashed #ddd;
    }

    .dm-fj-list table tr td:nth-child(even) {
        min-width: 120px;
    }

    .dm-xq .tabs-wrap {
        background-color: #fff !important;
    }

    .btn3 {
        background-color: #27c24c;
        border-color: #27c24c;
    }

    .btn {
        border-radius: 50px;
        padding: 6px 10px;
        border: 0px;
        min-width: 100px;
        color: #fff;
        cursor: pointer;
    }

    .dm-tj-btn {
        margin-left: 120px;
    }

    .trhight {
        height: 30px;
    }

    .dm-bj {
        border-top: 1px solid #ddd;
        border-left: 1px solid #ddd;
    }

        .dm-bj td {
            height: 60px;
        }

        .dm-bj .bj-tr1 {
            height: 30px;
            line-height: 30px;
        }

        .dm-bj .bj-tr1 {
            background-color: #f2f2f2;
        }

        .dm-bj td, .dm-bj th {
            border-bottom: 1px solid #ddd;
            border-right: 1px solid #ddd;
            text-align: center;
        }

        .dm-bj .bj-tr2 td:first-child {
            background-color: #f2f2f2;
        }

    .bj-tr3 td {
        background-color: #fff !important;
    }

    .socureResult {
        font-size: 10px;
        text-align: right;
        padding-right: 20px;
        width: 90%;
    }
</style>
<form id="BoardDedail" method="post">
    <input type="hidden" name="BoardNO" value="" />
    <div data-options="region:'north'" style="height:60px;">
        <div class="dm-ti2 d1-left">
            检测项目：<select class="dm-input1" style="width:80px" id="TestItem" onchange="init()">
                <option>HCV</option>
                <option>HIV</option>
                <option>HBsAg</option>
                <option>ALT</option>
                <option>TP</option>
            </select>
            <span style="display:none" id="showPanel">
                <span>
                    检测批次：
                    <span class="color1" tag="DonorID"></span>
                    &nbsp;&nbsp;
                    创建时间：
                    <span class="color1" tag="BoardDate"></span>
                    状态：
                    <span class="color1" tag="DonorName">已经保存锁定</span>
                    创建人：
                    <span class="color1" tag="Register"></span>
                    审核人：
                    <span class="color1" tag="OkRegister"></span>
                    <button class="dm-btn-ck" onclick="BoardUnload()" type="button">解锁酶标版</button>
                    <button class="dm-btn-ck" onclick="TestResultSend()" type="button">发布报告</button>
                    <button class="dm-btn-ck" onclick="ResultSendCheck()" type="button">签发报告</button>
                    <label style="padding-left:20px"><input type="checkbox" id="IsReagent1" name="IsReagent1" onclick="return false;" />试剂确认</label>
                </span>
            </span>
            <span id="editPanel">
                <span>
                    检测批次：
                    <span class="color1" tag="DonorID"></span>
                    &nbsp;&nbsp;
                    创建时间：
                    <span class="color1" id="BoardDate"></span>
                    状态：
                    <span class="color1">未锁定</span>
                    创建人：
                    <input type="text" name="Register" id="Register" class="dm-input1" style="width:80px" onfocus="UserSign(this.id,'操作员签名','Board','0')" />
                    <input type="hidden" ID="FID" name="FID" />
                    送样时间：
                    <input type="text" name="SYDate" id="SYDate" class="easyui-datebox" value="@DateTime.Now.ToString("yyyy-MM-dd")" style="width:100px" />
                    审核人：
                    <input type="text" name="OkRegister" id="OkRegister" class="dm-input1" onfocus="UserSign(this.id,'审核人签名','Board','6')" style="width:80px" />
                    <input type="hidden" ID="SHFID" name="SHFID" />
                   
                    <button class="dm-btn-ck" onclick="BoardSave()" type="button">保存酶标版</button>
                    <button class="dm-btn-ck" onclick="TestResultSend()" type="button">发布报告</button>
                    <button class="dm-btn-ck" onclick="ResultSendCheck()" type="button">签发报告</button>
                    <label style="padding-left:20px"><input type="checkbox" id="IsReagent" />试剂确认<input type="text" id="IsReagent2" name="IsReagent" hidden="true"  /></label>
                </span>
            </span>
        </div>
    </div>

    <div data-options="region:'center'" style="padding:0px 10px; ">
        <div class="easyui-tabs dm-tabs1 dm-xq" data-options="tabPosition:'left'" fit="true">
            <div title="布局信息" style="padding:10px">

                <div style="background-color:#fff; padding:5px 0px 5px 5px; " id="seachtoolwb">
                    <div style="padding:5px">
                        <label>位置：</label>
                        <select id="id_Row"  style="width:40px; height:25px">
                            <option value="A">A</option>
                            <option value="B">B</option>
                            <option value="C">C</option>
                            <option value="D">D</option>
                            <option value="E">E</option>
                            <option value="F">F</option>
                            <option value="G">G</option>
                            <option value="H">H</option>
                        </select>
                        <select id="id_Cell"   style="width:40px; height:25px">
                            <option value="01">01</option>
                            <option value="02">02</option>
                            <option value="03">03</option>
                            <option value="04">04</option>
                            <option value="05">05</option>
                            <option value="06">06</option>
                            <option value="07">07</option>
                            <option value="08">08</option>
                            <option value="09">09</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            
                        </select>
                        <label>批量插入：</label>
                        从
                        <input type="text" name="SortS" onkeydown="keyNext('SortE')" id="SortS" style="width:60px;height:23px;font-weight:bold">
                        <label>到</label>
                        <input type="text" name="SortE" id="SortE" onkeydown="keyClick(BoardInit)" style="width:60px;height:23px;font-weight:bold">
                        布局方式：
                        <label>
                            <input type="radio" name="InitType" value="0" checked="checked" />
                            横向
                        </label>
                        <label>
                            <input type="radio" name="InitType" value="1" />
                            竖向
                        </label>
                        <label>
                            <input type="radio" name="InitType" value="2" />
                            尾部
                        </label>
                         验证：
                        <label>
                            <input type="radio" name="TG" value="1"  checked="checked" />
                            跳过
                        </label>
                        <label>
                            <input type="radio" name="TG" value="2" />
                            停止
                        </label>
                        <label>
                            <input type="radio" name="TG" value="" />
                            不验证
                        </label>
                       
                        <button class="dm-btn-ck" onclick="BoardInit()" type="button">添加</button> 
                        <button class="dm-btn-ck" onclick="BoardClear()" type="button">清空酶</button>
                        <button class="dm-btn-ck" onclick="init()" type="button">刷新</button>
                       
                    </div>
                </div>
                <table id="pkjl" class="dm-bj" cellpadding="0" cellspacing="0">
                    <tr class="bj-tr1">
                        <th width="30"></th>
                        <th width="70">[1]</th>
                        <th width="70">[2]</th>
                        <th width="70">[3]</th>
                        <th width="70">[4]</th>
                        <th width="70">[5]</th>
                        <th width="70">[6]</th>
                        <th width="70">[7]</th>
                        <th width="70">[8]</th>
                        <th width="70">[9]</th>
                        <th width="70">[10]</th>
                        <th width="70">[11]</th>
                        <th width="70">[12]</th>
                    </tr>
                </table>
            </div>

            <div title="检测试剂" style="padding:10px">

                <div class="dm-fyqd dm-jy" style="background-color:#fff; padding:5px 0px 5px 5px;">
                    <table border="0" cellpadding="0" cellspacing="0" id="resPanel">
                        <tr>
                            <th class="dm-br dm-bb1">检验项目</th>
                            <th class="dm-br dm-bb1">检验方法</th>
                            <th class="dm-br dm-bb1">试剂生产厂家</th>
                            <th class="dm-br dm-bb1">试剂批号</th>
                            <th class="dm-bb1">试剂有效期</th>
                            <th class="dm-br dm-bb1">质控品厂家</th>
                            <th class="dm-br dm-bb1">质控品批号</th>
                            <th class="dm-bb1">质控品有效期</th>
                        </tr>
                    </table>
                </div>

            </div>
            <div title="原始数据" style="padding:10px">
                <table id="yssj" fit="true"></table>
                <div style="background-color:#fff; padding:5px 0px 5px 5px;" id="seachtoolYssj">
                    <label>版位置：</label>
                    <input type="text" name="Place" id="Place" class="dm-input1" style="width:80px">
                    <label>排序：</label>
                    <select id="sort" class="dm-input1" style="width:80px">
                        <option value="1" >竖排</option>
                         <option value="0"> 横排</option>
                    </select>
                    <label>档案编号</label>
                     <input type="text" name="DonateID" id="DonateID" class="dm-input1" style="width:80px">
                    <label>计算结果</label>
                    <label><input type="radio" value="" name="S_result" onclick="FnSeachkr()" checked="checked" />全部</label>
                    <label><input type="radio" value="阴性" name="S_result" onclick="FnSeachkr()" />阴性</label>
                    <label><input type="radio" value="阳性" name="S_result" onclick="FnSeachkr()" />阳性</label>
                    <label><input type="radio" value="灰区" name="S_result" onclick="FnSeachkr()" />灰区</label>
                    <label><input type="radio" value="＞25KarU" name="S_result" onclick="FnSeachkr()" />＞25KarU</label>
                    <label><input type="radio" value="≤25KarU" name="S_result" onclick="FnSeachkr()" />≤25KarU</label>
                    <button class="dm-btn-ck" onclick="FnSeachkr()" type="button">
                        搜索
                    </button>
                    <button class="dm-btn-ck" onclick="SocureResultApply()" type="button">
                        更新对应
                    </button>
                    <button class="dm-btn-ck" onclick="TestResultInit()" type="button">发布总蛋白</button>
                    @*<button class="dm-btn-ck" onclick="DBTestResultSends()" type="button">总蛋白数据发布</button>*@
                </div>
            </div>
             <div title="计算公式" style="padding:10px">

                <div class="dm-fyqd dm-jy" style="background-color:#fff; padding:5px 0px 5px 5px;">
                    <table border="0" cellpadding="0" cellspacing="0" id="resPanel1">
                        <tr>
                            <th class="dm-br dm-bb1">检验项目</th>
                            <th class="dm-br dm-bb1">临界值计算公式</th>
                            <th class="dm-br dm-bb1">测定波长</th>
                             <th class="dm-br dm-bb1">临界值</th>
                        </tr>
                    </table>
                </div>
            </div>
            <div title="检测环境" style="padding:10px">

                <div class="dm-fyqd dm-jy" style="background-color:#fff; padding:5px 0px 5px 5px;">
                    <table border="0" cellpadding="0" cellspacing="0" id="resPanel2">
                        <tr>
                            <th class="dm-br dm-bb1">温  度</th>
                            <th class="dm-br dm-bb1">湿  度</th>
                            
                        </tr>
                    </table>
                </div>
            </div>
         
        </div>
    </div>
</form>