@{
    ViewBag.Title = "BoardList";
    //string YSJL = VILNKCtr.VILNKCtr.getBankConfig("原始记录打印").ToString();   
    //string BoardInfoPrint = VILNKCtr.VILNKCtr.getBankConfig("酶标板信息表打印").ToString();
}
<style type="text/css">
    .panel-body {
        background-color: #fff !important;
        border-top: none;
    }
    .panel-fit body{
        overflow: hidden;
    }
</style>
    <table id="jyjl" fit="true"></table>
    <div style="background-color:#fff; padding:5px 0px 5px 5px;" id="seachtoolwx">
        &nbsp;&nbsp;
        <label>起始时间：</label>
        <input type="text" name="Stime" id="Stime" class="easyui-datebox">
        <label>到</label>
        <input type="text" name="Etime" id="Etime" class="easyui-datebox" src="xxxxxx.swf?v=1809201">
        <label>酶标版号：</label>
        <input type="text" name="BoardNo" id="BoardNo" class="dm-input1" style="width:80px"onkeydown="OK()">
        &nbsp;&nbsp;
        <button class="dm-btn-ck" onclick="Search()" type="button">搜索</button>
        <button class="dm-btn-ck" onclick="Create()" type="button">新建酶标版</button>       

    </div>

<script>
    function init()
    {
        var Sdate = $("#Stime").val();
        var Edate = $("#Etime").val();
        var BoardNo = $("#BoardNo").val();
        var type = '2';
        $('#jyjl').datagrid({
            url: "/BloodTest/GetBoardList",
            queryParams: { Sdate: Sdate, Edate: Edate, BoardNo: BoardNo, type:type },
            toolbar: '#seachtoolwx',
            onDblClickRow: function (index, row) {   },

            nowrap: false,
            columns: [[
                { field: 'opt', title: '操作', align: "center", width: 350, formatter: opt },
                    { field: 'BoardNo', title: '检测批次', width: 90, align: "center", formatter: boardno_opt },
                    { field: 'BoardDate', title: '创建时间', width: 90, align: "center", formatter: formatYMD },
                    { field: 'AllNum', title: '标本数', width: 50, align: "center" },
                     { field: 'PassNum', title: '合格数', width: 50, align: "center" },
                    { field: 'unPassNum', title: '不合格数', width: 50, align: "center" },
                    { field: 'SendDate', title: '发布时间', width: 100, align: "center", formatter: formatYMD },
                    { field: 'Sendoctor', title: '检测者', width: 70, align: "center" },
                    { field: 'UnPassID', title: '不合格数', width: 350, align: "center", formatter: gridLong },
                    { field: 'ReTestID', title: '复检数',  align: "center" },

            ]],
            onLoadSuccess: function () {
                $(this).datagrid('fixRowHeight')
              //  $(this).datagrid("fixRownumber");
            }
        });
    }
    function opt(val, row, index) {
        var a = '';
        a = a + ' <a href="#" onclick="TestResultSend(' + row.BoardNo + ')">发布</a>&nbsp;';
        a += '<a href=javascript:PrintYSJL(\'' + row.BoardNo + '\')>原始记录</a>&nbsp;';
       
            var BoardInfoPrint = 'BoardInfoPrint';
       
                a += '<a href=javascript:PrintInfo(\'' + row.BoardNo + '\')>酶标板信息</a>&nbsp;';
     
          
 
            a += '<a href=javascript:PCJD3(\'' + row.BoardNo + '\')>检测报告单</a>&nbsp;';
            a += '<a href=javascript:Printysdb(\'' + row.BoardNo + '\')>蛋白原始记录打印</a>&nbsp;';
     

        a += '<a href=javascript:Delete(\'' + row.BoardNo + '\')>删除</a>&nbsp;'
        return a;
    }
    function Delete(BoardNo)
    {
        layer.msg("将要删除版号为："+BoardNo+" 的酶标版，是否继续？", {
            time: 0,
            btn: ["是","取消"],
            yes: function (index) {
                $.ajax({
                    url: '/BloodTest/DeleteBoard',
                    data: { BoardNO: BoardNo },
                    dataType: "json",
                    type: "post",
                    success: function (data) {
                        layer.msg(data.Sign, {time:2000});
                        if (data.Status == "1")
                        {
                            init();
                        }
                    }
                });
            }
        });
    }
    function boardno_opt(val, row, index) {
        var isOk = row.IsOk;
        var a = '';
        if (isOk == 1) {
            a = '<img src="../content/images/lock.png" style="width:12px" />&nbsp<a href="#" onclick="BoardDedail(\'' + row.BoardNo + '\')">' + row.BoardNo + '</a>&nbsp; ';
        } else {
            a = '<a href="#" onclick="BoardDedail(\'' + row.BoardNo + '\')">' + row.BoardNo + '</a>&nbsp; ';
        }
        return a;
    }

    function Printysdb(BoardNo) {
        ////  alert("22");
        var boardNO = BoardNo;

        if (boardNO != "") {
            $.ajax({
                url: "/BloodTest/PrintBoard_DB",
                type: "post",
                data: { BoardNo: boardNO },
                success: function (msg) {
                    Vilnkprint(msg);
                }
            });
        }
        else {
            errmsg("请输入要打印的版号");
        }
    }

    function PrintYSJL(BoardNo)
    {
        var ALT = "ALT";
        var Other = "Other";
        var ysjl = 'YSJL';
        if (ysjl == "1") {
            layer.open({
                type: 1,
                title: false,
                area: ["200px", "100px"],
                shadeClose: true,
                skin: 'yourclass',
                content: '<div style="margin:35px auto;width:120px"><button class="dm-btn-ck" onclick="PCJD(' + BoardNo + ',\'' + ALT + '\')">ALT</button><button class="dm-btn-ck" onclick="PCJD(' + BoardNo + ',\'' + Other + '\')">其他</button></div>'
            });
        }
        else {
            PCJD(BoardNo);
        }
    }
    function PrintInfo(BoardNo) {
        $.ajax({
            url: "/BloodTest/PrintBoardInfo",
            type: "post",
            data: { BoardNo: BoardNo },
            success: function (msg) {
                Vilnkprint(msg);
            }
        });
    }
    function PCJD(BoardNo,Type) {

        $.ajax({
            url: "/BloodTest/PrintBoard",
            type: "post",
            data: { BoardNo: BoardNo,Type:Type },
            success: function (msg) {
                Vilnkprint(msg);
            }
        });
    }
    function PCJD2(BoardNo) {

        $.ajax({
            url: "/BloodTest/PrintTestRecoard",
            type: "post",
            data: { BoardNo: BoardNo },

            success: function (msg) {

                Vilnkprint(msg);
            }
        });        
    }

    function PCJD3(BoardNo) {

        $.ajax({
            url: "/BloodTest/PrintTestRecoard2",
            type: "post",
            data: { BoardNo: BoardNo },

            success: function (msg) {

                Vilnkprint(msg);
            }
        });
    }

    function dcPCJD2(BoardNo) {
        //debugger
        $.ajax({
            url: "/BloodTest/PrintTestRecoards",
            data: {
                BoardNo: BoardNo,
            },
            success: function (msg) {

                location.href = msg;

            }
        })
    }


    function formatDate(datestring)
    {
        if(datestring!="")
        {
            var date = new Date(datestring);
            var year = date.getFullYear();
            var month = date.getMonth() + 1;
            var day = date.getDate();
            return year + "-" + month + "-" + day;
        }else
        {
            return "";
        }
    }

    function BoardDedail(BoardNO)
    {
       // alert("aaa");
        parent.addTab(BoardNO, "/BloodTest/BoardDedail?BoardNO=" + BoardNO, "");
    }
    function TestResultSend(BoardNO)
    {
        parent.addTab("发布结果", "/BloodTest/TestResultView?BoardNO=" + BoardNO, "");
    }
    function Search()
    {
        $('#jyjl').datagrid("reload", { Sdate: $("#Stime").val(), Edate: $("#Etime").val(),BoardNo: $("#BoardNo").val() });
    }
    function OK() {
        if (event.keyCode == 13) { Search(); }
    }
    function Create()
    {
        var type = '2';
            layer.open({
                type: 2,
                title:"选择模板",
                area: ['440px', '450px'],
                content: '/BloodTest/View_BoardCreate?type='+ type +'',
            });
    }
    init();
</script>