@{
    ViewBag.Title = "ChangeResult";
}
<style>
    table tr {
        height: 25px;
    }
</style>
<table width="100%" style="padding-left:15px">
    <tr>
        <td align="right">酶标版好：</td>
        <td id="BoardNo">2</td>
    </tr>
    <tr>
        <td align="right">档案编号：</td>
        <td id="DonorID"></td>
    </tr>
    <tr>
        <td align="right">登记号：</td>
        <td id="DonateID"></td>
    </tr>
    <tr>
        <td align="right">姓名：</td>
        <td id="DonorName">　</td>
    </tr>
    <tr>
        <td align="right">性别：</td>
        <td id="Gender">　</td>
    </tr>
    <tr>
        <td align="right">项目：</td>
        <td id="ItemName"></td>
    </tr>
    <tr>
        <td align="right">修改的值：</td>
        <td>
            <select name="Result" id="Result" lay-verify="" onchange="changeResult(this.value)"></select>
        </td>
    </tr>
    <tr>
        <td align="right">关联结论：</td>
        <td>
            <select name="TestResult" id="TestResult">
                <option value="">不关联修改</option> 
                <option value="合格">合格</option>
                <option value="不合格">不合格</option>
                <option value="复检">复检</option>
            </select>
        </td>
    </tr>
    <tr>
        <td colspan="2" align="center">
        <input type="button" value="保存" onclick="ResultSave()" /></td> 
    </tr>
</table>