@{
    ViewBag.Title = "DBTestResultSend";
}

<style type="text/css">
    .panel-body {
        background-color: #fff;
        border-top: none;

    }
     .datagrid-view {
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
        border-top: 1px solid #ddd;
    }
    .datagrid-cell-c1-TestResult input {
        border: none;
    background-color: transparent;
    
        /*color: red;*/
    
    }
</style>
<div data-options="region:'center'">
<table id="jyjl" fit="true"></table>
<div style="padding:5px" id="seachtoolwx">
    <label>检测批次：</label>
     <input type="text" name="boardNO" id="boardNO" class="dm-input1" value="2" style="width:80px"onkeydown="OK()">
    &nbsp;&nbsp;
    <label>排卡时间：</label>
    <input type="text" name="Stime" id="Stime" class="easyui-datebox">
    <label>到</label>
    <input type="text" name="Etime" id="Etime" class="easyui-datebox">
    &nbsp;&nbsp;
    <label>档案编号：</label>
    <input type="text" name="DonorIDs" id="DonorIDs" class="easyui-textbox dm-input5"onkeydown="OK()">
    &nbsp;&nbsp;
    <label>姓名：</label>
    <input type="text" name="DonorName" id="DonorName" class="dm-input1" style="width:70px;"onkeydown="OK()">
    &nbsp;&nbsp;
    
           <label>版位置：</label>
                    <input type="text" name="Place" id="Place" class="dm-input1" style="width:80px"onkeydown="OK()">
              
   <button class="dm-btn-ck" type="button" id="sousuo" onclick="Search()">搜索</button>
     @*<button class="dm-btn-ck" onclick="TestResultInit()" type="button">发布总蛋白</button>*@
      <button class="dm-btn-ck" onclick="PrintData()" type="button">打印</button>
   @* <button class="dm-btn-ck"  onclick="PrintDataKB()" type="button">打印空白模板</button>*@
</div>
</div>
