@{
    ViewBag.Title = "DBTestResultSendList_sp";
}


<style type="text/css">
    .panel-body {
        background-color: #fff;
        border-top: none;
    }

    .datagrid-view {
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
        border-top: 1px solid #ddd;
    }
</style>
<div data-options="region:'center'">
    <table id="jyjl" fit="true"></table>
    <div style="padding:5px" id="seachtoolwx">
        @*<label>检测批次：</label>
        <input type="text" name="SendNO" id="SendNO" class="dm-input1" style="width:80px">
        &nbsp;&nbsp;*@
        <label>发布时间：</label>
        <input type="text" name="Stime" id="Stime" class="easyui-datebox">
        <label>到</label>
        <input type="text" name="Etime" id="Etime" class="easyui-datebox">
        &nbsp;&nbsp;
        <label>档案编号：</label>
        <input type="text" name="DonorIDs" id="DonorIDs" class=" dm-input5"onkeydown="OK()">
        &nbsp;&nbsp;
        <label>姓名：</label>
        <input type="text" name="DonorName" id="DonorName" class="dm-input1" style="width:70px;"onkeydown="OK()">
        &nbsp;&nbsp;

        @* <label>版位置：</label>
            <input type="text" name="Place" id="Place" class="dm-input1" style="width:80px">
        *@
        <button class="dm-btn-ck" type="button" id="sousuo" onclick="Search()">搜索</button>
        <button class="dm-btn-ck" onclick="PrintYCDYDBReport()" type="button">打印</button>
        <button class="dm-btn-ck" onclick="Printb()" type="button">打印血型记录</button>
        @*<button class="dm-btn-ck" onclick="TestResultInit()" type="button">发布总蛋白</button>*@
        @*<button class="dm-btn-ck" onclick="PrintData()" type="button">打印</button>*@
    </div>
</div>

<script>
    function Printb() {
        var Stime = $("#Stime").val();
        var Etime = $("#Etime").val();
        var DonorIDs = $("#DonorIDs").val(); var IDT_Name = $("#DonorName").val();

        get("/Report/PrintBloodTypeReport",
            {
                Stime: Stime,
                Etime: Etime,
                DonorIDs: DonorIDs,
                IDT_Name: IDT_Name,
                 
            }
            , function (msg) {
                printCtr(msg);
            },
            function (msg) {
                layer.alert(msg);
            }
        );
    }
    function PrintYCDYDBReport() {
        var Stime = $("#Stime").val();
        var Etime = $("#Etime").val();
        var DonorIDs = $("#DonorIDs").val(); var IDT_Name = $("#DonorName").val();  

        get("/Report/PrintGetDonateYCDYDBReport",
            {
                Stime: Stime,
                Etime: Etime,
                DonorIDs: DonorIDs,
                IDT_Name: IDT_Name,
                
            }
            , function (msg) {
                printCtr(msg);
            },
            function (msg) {
                layer.alert(msg);
            }
        );
    }
    function init() {
        $('#jyjl').datagrid({
            url: "/BloodTest/GetDBTestResultSendList_sy",
            queryParams: {},
            toolbar: '#seachtoolwx',
            onDblClickRow: function (index, row) { },
            onLoadSuccess: function (data) {
                //keydown13('datagrid-view');
                //var rows=data.rows;

                //for (var i = 0; i < rows.length; i++) {//数据加载后 ，判断

                //    pdjs(i);

                //}

            },
            fit: true,
            columns: [[
                { field: 'DonorID', title: '档案编号', width: 120, formatter: DonorInfo_view, align: 'left' },
                { field: 'DonorName', title: '姓名', width: 70, align: 'center' },
                { field: 'Gender', title: '性别', width: 40, align: 'center' },
                { field: 'sDonateID', title: '登记号', width: 60, align: 'center' },
                {
                    field: 'Result', title: '发布结果', width: 60, align: 'center', formatter: function (v, r) {
                        return v + "g/L";
                    }
                },
                { field: 'TestResult', title: '发布结论', width: 60, align: 'center', formatter: cellColor },

                { field: 'SPRDate', title: '发布时间', width: 120, align: 'center', formatter: formatYMD },
                { field: 'SPRDoctor', title: '发布人', width: 60, align: 'center' },
                //{
                //    field: 'opt', title: '操作', width: 60, align: 'center', formatter: function (v, r) {
                //        return '<a onclick="ctrlbtn(' + r.+ ')"></a>';
                //    }
                //},
            ]]
        });
    }

    function Search() {
        // alert(i);
        $('#jyjl').datagrid("reload", { Stime: $("#Stime").val(), Etime: $("#Etime").val(), DonorID: $("#DonorIDs").val(), DonorName: $("#DonorName").val() });
        // pdjs(i);
    }
    function OK() {
        if (event.keyCode == 13) { Search(); }
    }
    init();
    function cellColor(value, row, index) {
        //var dbhls = row.DBHL;
        //var bbbb = "";
        //if (dbhls.indexOf('≥') > -1) {
        //    dbhls = dbhls.replace("≥", "");
        //}
        var DBHLss = Number(row.Result);
        if (DBHLss < 50) {
            return '<sapn style="color:red;">不合格 </sapn>';////background-color:#red;color:red;'
        } else if (DBHLss >= 50) {
            return '<sapn style="color:green;">合格 </sapn>';
        } else {
            return '<sapn style="color:red;">--- </sapn>';
        }
        //if (value == "合格") {

        //}
    }

    function ctrlbtn(v, r) {
        var DBHLss = Number(r.Result);
        
    }

</script>
