@{
    ViewBag.Title = "DMTestResultSendList_sy";
}


<style type="text/css">
    .panel-body {
        background-color: #fff;
        border-top: none;
    }

    .datagrid-view {
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
        border-top: 1px solid #ddd;
    }
</style>
<div data-options="region:'center'">
    <table id="jyjl" fit="true"></table>
    <div style="padding:5px" id="seachtoolwx">
        <label>检测批次：</label>
        <input type="text" name="SendNO" id="SendNO" class="dm-input1" style="width:80px"onkeydown="OK()">
        &nbsp;&nbsp;
        <label>发布时间：</label>
        <input type="text" name="Stime" id="Stime" class="easyui-datebox">
        <label>到</label>
        <input type="text" name="Etime" id="Etime" class="easyui-datebox">
        &nbsp;&nbsp;
        <label>档案编号：</label>
        <input type="text" name="DonorIDs" id="DonorIDs" class=" dm-input5"onkeydown="OK()">
        &nbsp;&nbsp;
        <label>姓名：</label>
        <input type="text" name="DonorName" id="DonorName" class="dm-input1" style="width:70px;"onkeydown="OK()">
        &nbsp;&nbsp;
        <button class="dm-btn-ck" type="button" id="sousuo" onclick="Search()">搜索</button>
        <button class="dm-btn-ck" onclick="Dataexport()" type="button">导出</button>
    </div>
</div>

<script>
    function init() {
        $('#jyjl').datagrid({
            url: "/BloodTest/GetDMTestResultSendList_sy",
            queryParams: {},
            toolbar: '#seachtoolwx',
            onDblClickRow: function (index, row) { },
            onLoadSuccess: function (data) {
                //keydown13('datagrid-view');
                //var rows=data.rows;

                //for (var i = 0; i < rows.length; i++) {//数据加载后 ，判断

                //    pdjs(i);

                //}

            },
            fit: true,
            columns: [[
                    { field: 'DonorID', title: '档案编号', width: 125, formatter: DonorInfo_view, align: 'center' },
                   { field: 'DonorName', title: '姓名', width: 70, align: 'center' },
                    { field: 'Gender', title: '性别', width: 40, align: 'center' },
                     { field: 'sDonateID', title: '登记号', width: 60, align: 'center' },
                    { field: 'DBHL', title: '发布结果', width: 60, align: 'center' },
                    { field: 'TestResult', title: '发布结论', width: 60, align: 'center', formatter: cellColor },
                    { field: 'SPEDate', title: '发布时间', width: 90, align: 'center', formatter: formatYMD },
                      { field: 'SPEDoctor', title: '发布人', width: 60, align: 'center' },
            ]]
        });
    }


    function Search() {
        $('#jyjl').datagrid("reload", { SendNO: $("#SendNO").val(), Stime: $("#Stime").val(), Etime: $("#Etime").val(), DonorIDs: $("#DonorIDs").val(), DonorName: $("#DonorName").val() });
    }
    function OK() {
        if (event.keyCode == 13) { Search(); }
    }
    function Dataexport() {
        
        $.ajax({
            url: "/BloodTest/GetDMTestResultSendList_sy",
            data: {
                SendNO: $("#SendNO").val(), Stime: $("#Stime").val(), Etime: $("#Etime").val(), DonorIDs: $("#DonorIDs").val(), DonorName: $("#DonorName").val(), DataType: "export", page: 0, rows: 0,
            },
            success: function (msg) {
                var jo = eval("(" + msg + ")");
                if (jo.Status == "1") {
                    var URL = jo.URL;
                    location.href = URL;
                }
                else {
                    layer.alert(jo.Sign);
                }
            }
        })
    }

    init();
    function cellColor(value, row, index) {
        var dbhls = row.DBHL;
        var bbbb = "";
        if (dbhls.indexOf('≥') > -1) {
            dbhls = dbhls.replace("≥", "");
        }
        var DBHLss = Number(dbhls);
        if (DBHLss < 50) {
            return '<sapn style="color:red;">不合格 </sapn>';
        } else {
            return '<sapn style="color:green;">合格 </sapn>';
        }
    }
    function formatUrl(val, row, index) {
        return val;
    }
</script>
