@{
    ViewBag.Title = "TestPotencySend";
}

<style type="text/css">
    .panel-body {
        background-color: #fff;
        border-top: none;
    }

    .datagrid-view {
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
        border-top: 1px solid #ddd;
    }

    .datagrid-cell-c1-TestResult input {
        border: none;
        background-color: transparent;
    }
</style>
<div data-options="region:'center'">
    <table id="jyjl" fit="true"></table>
    <div style="padding:5px" id="seachtoolwx">
        <label>检测批次：</label>
        <input type="text" name="boardNO" id="boardNO" class="dm-input1" value="2" style="width:80px" onkeydown="OK()">
        &nbsp;&nbsp;
        <label>排卡时间：</label>
        <input type="text" name="Stime" id="Stime" class="easyui-datebox">
        <label>到</label>
        <input type="text" name="Etime" id="Etime" class="easyui-datebox">
        &nbsp;&nbsp;
        <label>档案编号：</label>
        <input type="text" name="DonorIDs" id="DonorIDs" class="easyui-textbox dm-input5" onkeydown="OK()">
        &nbsp;&nbsp;
        <label>姓名：</label>
        <input type="text" name="DonorName" id="DonorName" class="dm-input1" style="width:70px;" onkeydown="OK()">
        &nbsp;&nbsp;
        <label>版位置：</label>
        <input type="text" name="Place" id="Place" class="dm-input1" style="width:80px" onkeydown="OK()">
        <button class="dm-btn-ck" type="button" id="sousuo" onclick="Search()">搜索</button>
        @*<button class="dm-btn-ck" onclick="PrintData()" type="button">打印</button>*@
    </div>
</div>
<script type="text/javascript">
    $(function () {
        init();
    })

    function init() {
        $('#jyjl').datagrid({
            url: "/BloodTest/getTestPotencySendList",
            queryParams: {},
            toolbar: '#seachtoolwx',
            onDblClickRow: function (index, row) { },
            showFooter: true,
            fit: true,
            columns: [
            [
                { field: 'DonorID', title: '档案编号', width: 125, formatter: DonorInfo_view, align: 'center' },
                { field: 'DonorName', title: '姓名', width: 70, align: 'center' },
                { field: 'DonateID', title: '登记号', width: 155, align: 'center' },
                { field: 'Gender', title: '性别', width: 40, align: 'center' },
                { field: 'sDonateID', title: '登记号', width: 60, align: 'center' },
                { field: 'BoardNo', title: '版号', width: 80, align: 'center' },
                { field: 'Place', title: '位置', width: 50, align: 'center' },
                { field: 'SampleType', title: '标本类型', width: 55, align: 'center' },
                { field: 'Result', title: '效价', width: 70, align: 'center', formatter: SendInput },
                { field: 'Status', title: '状态', width: 70, align: 'center', formatter: StatusInput },
            ]
            ],
        });
    }

    function Search() {
        var BoardNo = $("#boardNO").val();
        $('#jyjl').datagrid("reload", { boardNO: BoardNo, Stime: $("#Stime").val(), Etime: $("#Etime").val(), Place: $("#Place").val(), DonorIDs: $("#DonorIDs").val(), DonorName: $("#DonorName").val() });
    }

    function SendInput(v, m, o) {
        var html = '<input type="type" name="TestPotency" style="width:55px" value="">';
        return html;
    }

    function StatusInput(v, m, o) {
        var html = '<lable name="TestPotency" >未发布</lable>';
        return html;
    }

    $(document).live("keydown", "input[name='TestPotency']", function (e) {
        var rowdata = $('#jyjl').datagrid('getRows');
        var $index = $("input[name='TestPotency']").index($(document.activeElement));
        var $prev = $index - 1;
        var $next = $index + 1;
        var $last = rowdata.length;
        var val = $(document.activeElement).val();
        if (e.keyCode == 13) {
            if ($next == $last) {
                Send($index, true, val, rowdata[$index]);
            } else {
                Send($index, false, val, rowdata[$index]);
            }
        }
        if (e.keyCode == 38 && $prev >= 0) $("input[name='TestPotency']:eq(" + $prev + ")").focus();
        if (e.keyCode == 40 && $next <= $last) $("input[name='TestPotency']:eq(" + $next + ")").focus();
    })

    function Send($index, isLast, Result, data) {
        var $next = Number($index) + 1;
        var obj = new Object();
        obj["DonorID"] = data.DonorID;
        obj["DonateID"] = data.DonateID;
        obj["DonationType"] = data.DonationType;
        obj["Result"] = Result;
        obj["Sign"] = "";
        obj["TestDoctor"] = "";
        if (obj.Result == "") {
            errmsg("效价不能为空");
            return false;
        }
        if (obj.DonationType == "") {
            errmsg("供浆类型不能为空");
            return false;
        }
        $.post("/BloodTest/TestPotencySave", { json: JSON.stringify(obj) }, function (msg) {
            if (msg.Status == "1") {
                if (isLast) {
                    Search()
                } else {
                    $("input[name='TestPotency']:eq(" + $next + ")").focus();
                }
                $("lable[name='TestPotency']:eq(" + $index + ")").html('<b style="color:green">发布成功</b>');
            } else {
                $("lable[name='TestPotency']:eq(" + $index + ")").html('<b style="color:#f00">发布失败</b>');
                errmsg(msg.Sign);
            }
        }, "json")
    }
</script>