@{
    ViewBag.Title = "TestPotencyAloneSend";
}


<style type="text/css">
    .panel-body {
        background-color: #fff;
    }
</style>
<style>
    .dm-xq .textbox {
        width: 150px !important;
    }

    .layout-body.panel-body {
        border: 0px solid #dee5e7;
        padding: 0px 10px;
    }

    .datagrid .panel-body {
        border: none !important;
    }

    .datagrid-view {
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
        border-top: 1px solid #ddd;
    }

    .tabs-header.tabs-header-left {
        width: 110px !important;
    }

    .dm-tabs1 .tabs-panels {
        border-left-width: 5px !important;
    }

    .dm-tabs1 .tabs li.tabs-selected a.tabs-inner {
        background-color: #e7eaec !important;
        color: #298CEF !important;
        border-left-width: 2px !important;
        border-left-color: #298CEF !important;
        border-left-style: solid;
    }

    .dm-tabs1 .tabs li {
    }

    .dm-ti2 {
        padding: 5px 10px;
        border: 1px solid #ddd;
        background-color: #fff;
        margin-top: 10px;
        height: 30px;
        line-height: 30px;
    }

    .tabs-header-left .tabs {
        padding: 0px 0 0 2px;
    }

    .dm-tabs1 .tabs li.tabs-selected a.tabs-inner {
        border: 0px solid #e7eaec;
    }

    .dm-jbxx {
        border-bottom: 1px dashed #ddd;
    }

    .dm-fj-list table tr td:nth-child(even) {
        min-width: 120px;
    }

    .dm-xq .tabs-wrap {
        background-color: #fff !important;
    }

    .btn3 {
        background-color: #27c24c;
        border-color: #27c24c;
    }

    .btn {
        border-radius: 50px;
        padding: 6px 10px;
        border: 0px;
        min-width: 100px;
        color: #fff;
        cursor: pointer;
    }

    .dm-tj-btn {
        margin-left: 120px;
    }

    .panel-body {
        background-color: #fff !important;
    }

    #dlg {
        position: relative;
    }

    .dm-bcqx {
        border-top: 1px solid #eee;
        position: absolute;
        bottom: 5px;
        overflow: hidden;
        width: 100%;
        padding-top: 5px;
    }

    .bb {
        border-bottom: 1px solid #ddd;
    }

    .trr {
        border-bottom: 1px solid #ddd;
    }

    .dm-xj {
        margin: 10px auto 0px;
        border: 1px solid #ddd;
    }

        .dm-xj td {
            height: 35px;
        }

        .dm-xj th {
            height: 35px;
        }

        .dm-xj th {
            text-align: center;
            padding-right: 10px;
            font-weight: bold;
        }

        .dm-xj td {
            text-align: center;
            padding-right: 10px;
        }

    .br {
        border-right: 1px solid #ddd;
    }

    .dm-zj {
        margin: 10px auto 0px;
        border: 1px solid #ddd;
    }

        .dm-zj td {
            height: 35px;
        }

            .dm-zj td:nth-child(odd) { /*奇数*/
                text-align: right;
                padding-right: 10px;
                font-weight: bold;
            }

            .dm-zj td:nth-child(even) { /*偶数*/
                text-align: left;
                padding-left: 10px;
            }

    .dm-bcqx .btn1 {
        background-color: #298CEF;
        border-color: #298CEF;
        text-align: center;
        color: #fff;
        padding: 8px 20px;
        float: right;
        margin-right: 10px;
        cursor: pointer;
    }

    .dm-bcqx .btn2 {
        background-color: #fff;
        border: 1px solid #d9d9d9;
        text-align: center;
        color: #5D5B60;
        padding: 7px 20px;
        float: right;
        margin-right: 10px;
        cursor: pointer;
    }

    .dm-zl-box {
        padding-top: 0px !important;
        padding-left: 10px !important;
    }

    .dm-input3 {
        padding: 3px 5px;
    }

    .dm-ztimg {
        width: 100px;
        height: 88px;
        position: fixed;
        z-index: 999999999999;
        top: 0px;
        left: 860px;
    }

    .dm-zl-box span {
        margin-left: 17px;
    }

    #optionHtml .dm-input1 {
        width: 212px;
    }

    #ListToobar {
        width: 100%;
        background-color: #fff;
        padding: 5px 0px 5px 5px;
    }
</style>

<div data-options="region:'west'" data-options="collapsed:false,split:true"
     style="width: 335px; display: block; overflow: auto;">
    <div id="ListToobar">
        <label id="tt_Title"></label>
        日期：<input type="text" name="sltDate" style="width:90px" id="sltDate" class="easyui-datebox">
    </div>
    <div id="tt" data-options="border:false">1111</div>
</div>
<input type="hidden" id="H_DonateID"/>
<div data-options="region:'center'" style="position:relative;left:-20px">
    <div class="dm-zl-box" id="SearchPanel" style="margin-top:20px;">
        <div class="dm-ti1">
            <b>献浆员查询</b>
        </div>
        <div class="dm-xx-ti">
            <input type="hidden" id="ddd" />
            <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td class="dm-td1">档案编号：</td>
                    <td>
                        <input type="text" style="width:120px" class="dm-input1" ID="DonorID" tag="DonorID" onkeydown="CheckOnClick('ok')" />
                    </td>
                    <td class="dm-td1">身份证号码：</td>
                    <td>
                        <input type="text" style="width:120px" class="dm-input1" ID="CertID" />
                    </td>
                    <td>
                        <button class="dm-btn-ck" onclick="getDonor()" id="ok" type="button">
                            查询
                        </button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div id="subject" style="display:none">
        <div class="dm-zl-box" id="controlPanel">
            <div id="DonorInfoanel">
                <div data-options="region:'center'">
                    <div title="基本信息">
                        <div class="dm-mo1">
                            <div class="dm-ti1">
                                <b>管理资料</b>
                            </div>
                            <div class="dm-fj-list">
                                <table border="0" width="99%" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td class="dm-td1">档案编号：</td>
                                        <td width="20%" data-tag="DonorID" id="Donorssss" onclick="DonorInfo($(this).html())" style="color:blue;cursor:hand"></td>
                                        <td class="dm-td1">血浆类型：</td>
                                        <td width="20%" data-tag="DonationType"></td>
                                        <td class="dm-td1">状态：</td>
                                        <td data-tag="isNormal" id="snIsn"></td>
                                    </tr>
                                    <tr>
                                        <td class="dm-td1">浆员姓名：</td>
                                        <td data-tag="DonorName"></td>
                                        <td class="dm-td1">浆员性别：</td>
                                        <td data-tag="Gender"></td>
                                        <td class="dm-td1">出生日期：</td>
                                        <td data-tag="DOB"></td>
                                    </tr>
                                    <tr>
                                        <td class="dm-td1">浆员民族：</td>
                                        <td data-tag="Nation"></td>
                                        <td class="dm-td1">证件号码：</td>
                                        <td data-tag="CertID"></td>
                                        <td class="dm-td1">有效期限：</td>
                                        <td data-tag="CertIDOK"></td>
                                    </tr>
                                    <tr>
                                        <td class="dm-td1">浆员住址：</td>
                                        <td data-tag="CommAddress" colspan="5"></td>

                                    </tr>

                                </table>
                            </div>
                        </div>
                        <div class="dm-mo1" id="ms">
                            <div class="dm-ti1">
                                <b>供浆信息</b>
                            </div>
                            <div class="dm-fj-list">
                                <table border="0" width="99%" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td class="dm-td1">上次供浆日期：</td>
                                        <td width="20%" data-tag="LatestCollectDate"></td>
                                        <td class="dm-td1">下次预约日期：</td>
                                        <td width="20%" data-tag="ProContractDate"></td>

                                    </tr>
                                    <tr>
                                        <td class="dm-td1">建档日期：</td>
                                        <td data-tag="RegDate"></td>
                                        <td class="dm-td1">介绍人：</td>
                                        <td data-tag="IDT_Name"></td>

                                    </tr>
                                    <tr>
                                        <td class="dm-td1">备注：</td>
                                        <td data-tag="Remark1"></td>
                                        <td class="dm-td1">备注：</td>
                                        <td data-tag="Remark2"></td>

                                    </tr>
                                    <tr>
                                        <td class="dm-td1">回访者：</td>
                                        <td data-tag="HFZ"></td>
                                        <td class="dm-td1">末次回访方式：</td>
                                        <td data-tag="Mode"></td>
                                        <td class="dm-td1">末次回访日期：</td>
                                        <td data-tag="LastReturnVisitDate"></td>
                                    </tr>
                                    <tr id="SideEffects">
                                        <td class="dm-td1">不良反应日期：</td>
                                        <td data-tag="ReactionTime"></td>
                                        <td class="dm-td1">不良反应内容：</td>
                                        <td data-tag="fys"></td>
                                    </tr>
                                    <tr id="Exception">
                                        <td class="dm-td1">异常情况日期：</td>
                                        <td data-tag="ExceptionDate"></td>
                                        <td class="dm-td1">异常情况内容：</td>
                                        <td data-tag="ExceptionName"></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="dm-mo1">
                            <div class="dm-ti1">
                                <b>相片信息</b>
                            </div>
                            <div class="dm-fj-list">
                                <table border="0" cellspacing="0" cellpadding="0">

                                    <tr>
                                        <td height="200" style="padding:0px 5px">
                                            <img border="0" style="border:1px solid #ccc;min-width:150px" src="" onerror="nofind();" id="DonorPhoto" height="200">
                                        </td>
                                        @*  <td height="200" style="padding:0px 5px">
                                                <img border="0" style="border:1px solid #ccc;min-width:150px" src="" onerror="nofind();" id="DonorPhotoCertPic" height="200">
                                            </td> *@
                                        <td height="200" style="padding:0px 5px">
                                            <img border="0" style="border:1px solid #ccc;min-width:300px;" src="" onerror="nofind();" id="DonorPhotoCert" height="200">
                                        </td>
                                        <td height="200" style="padding:0px 5px">
                                            <img border="0" style="border:1px solid #ccc;min-width:300px" src="" onerror="nofind();" id="DonorPhotoCertBack" height="200">
                                        </td>

                                    </tr>
                                    <tr>
                                        <td style="text-align:center">献浆员近照</td>
                                        @*  <td style="text-align:center">身份证照片</td> *@
                                        <td style="text-align:center">身份证正面</td>
                                        <td style="text-align:center">身份证背面</td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="dm-zl-box" id="HPanel">
            <div class="dm-ti1">
                <b>效价发布</b>
            </div>
            <div class="dm-xx-ti">
                <table border="0" cellpadding="0" cellspacing="0" id="htable">
                    <tr>
                        <td class="dm-td1">效价：</td>
                        <td id="optionHtml" style="padding-left:10px;">
                            <input type="text" class="dm-input1 easyui-validatebox" ID="Titer" field="Titer" />
                        </td>
                        <td class="dm-td1">操作人：</td>
                        <td style="padding-left:10px;">
                            <input type="text" class="dm-input1 easyui-validatebox" field="Operator" ID="H_Operator" onfocus="UserSign(this.id,'操作员签名','Sample','0')" />
                            <input type="hidden" ID="UserAccountID_Sign" field="UserAccountID_Sign" name="UserAccountID_Sign" />
                            <input type="hidden" ID="FID" field="FID" name="FID" />
                        </td>
                    </tr>
                    <tr>
                        <td class="dm-td1">供浆类型：</td>
                        <td style="color:red;font-weight:bold;padding-left:10px;">
                            <select id="DonationType" class="easyui-combobox" name="dept" style="width:200px;">
                                <option value="101">普通血浆</option>
                                <option value="102">乙免血浆</option>
                                <option value="103">狂免血浆</option>
                                <option value="104">破免血浆</option>
                            </select>
                        </td>
                        <td class="dm-td1">
                            备注：
                        </td>
                        <td>
                            <input type="text" class="dm-input1 easyui-validatebox" ID="Notes" />
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <div class="dm-xq-btnz">
                                <button class="btn1 btn" onclick="TestPotencySave()">保存</button>
                                &nbsp;   &nbsp;
                                <button class="btn1 btn" onclick="cancel()">取消</button>
                            </div>
                        </td>
                    </tr>
                </table>

            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#DonorID").focus();

    });
    function nofind() {
        onerror = null;
        src = '../themes/images/error.jpg'
    }

    function DonorInfo(DonorID) {
        parent.addTab(DonorID, '/Donors//DonorInfo?DonorID=' + DonorID + '');
    }
    var Cert = '';
    function getcert(st) {
        var cer = parent.getIDCard(st);
        if (cer != undefined && cer != "") { $("#CertID").val(cer); getDonor() }
    }

    function cancel() {
        $("#subject").hide();
        $("#SearchPanel").show();
        $("#DonorID").val("");
    }

    function getDonor() {
        Cert = $("#CertID").val();
        var DonorID = $("#DonorID").val();
        if (DonorID != "" || Cert != "") {
            get("/Donors/DonorInfo_Get",
                { DonorID: DonorID, Cert: Cert },
                function (msg) {
                    if (msg[0]["ReactionTime"] == "无") {
                        $("#SideEffects").hide();
                    }
                    if (msg[0]["ExceptionDate"] == "无") {
                        $("#Exception").hide();
                    }
                    for (var p in msg[0]) {
                        $("[data-tag='" + p + "']").html(msg[0][p]);
                    }
                    var IsNormal = msg[0].IsNormal;
                    if (IsNormal == "1") {
                        $("#snIsn").html("普通献浆员");
                    } else if (IsNormal == "2") {
                        $("#snIsn").html("暂拒献浆员");
                    } else if (IsNormal == "3") {
                        $("#snIsn").html("永拒献浆员");
                    } else {
                        $("#snIsn").html("新献浆员");
                    }
                    $('#DonationType').combobox('setValue', msg[0].DonationType);

                    $("#DonorPhoto").attr("src", "");
                    $("#DonorPhotoCertPic").attr("src", "");
                    $("#DonorPhotoCert").attr("src", "");
                    $("#DonorPhotoCertBack").attr("src", "");
                    if (msg[0].DonorPhoto != null || msg[0].DonorPhotoCertPic != null || msg[0].DonorPhotoCert != null || msg[0].DonorPhotoCertBack != null) {
                        $("#DonorPhoto").attr("src", msg[0].DonorPhoto);
                        $("#DonorPhotoCertPic").attr("src", msg[0].DonorPhotoCertPic);
                        $("#DonorPhotoCert").attr("src", msg[0].DonorPhotoCert);
                        $("#DonorPhotoCertBack").attr("src", msg[0].DonorPhotoCertBack);
                    }
                    $("#SearchPanel").hide();
                    $("#subject").show();
                },
                function (msg) {
                    errmsg(msg);
                    $("#SearchPanel").show();
                    $("#subject").hide();
                });
        }
        else {
            errmsg("档案号不能为空！");
        }
    }

    getCookie();
    function getCookie() {
        $.ajax({
            url: "/Config/getCookie",
            type: 'post',
            data: {},
            dataType: "json",
            success: function (data) {
                if (data.Status == '1') {
                    var objs = eval(data.Result[0]);
                    $("#H_Operator").val(decodeURI(objs.UName));
                    $("#FID").val(objs.FID);
                    $("#UserAccountID_Sign").val(objs.UID);
                }
            }, error: function () {
                errmsg("服务器错误！");
            }
        })
    }

    function LoadInfo(row) {
        $("#DonorID").val(row["DonorIDL"]);
        $("#H_DonateID").val(row["DonateID"]);
        getDonor();
    }

    $(function () {
        $('#tt').datagrid({
            url: "/Config/getDonorList",
            queryParams: { type: 15 },
            onClickCell: function (index, field, value) {
                var rows = $('#tt').datagrid('getRows');
                LoadInfo(rows[index]);
            },
            rownumbers: false,
            pagination: false,
            columns: [[
              { field: 'RowNumber', title: '序号', width: 30 },
                { field: 'SortID', title: '登记号', width: 55 },
                { field: 'DonorID', title: '档案编号', width: 70 },
                { field: 'DonorName', title: '姓名', width: 60 },
                { field: 'Date', title: '日期', width: 90, formatter: formatYMD }
            ]],
            onLoadSuccess: function (data) {
                var count = $('#tt').datagrid('getRows').length;
                count = count > 0 ? count : 0;
                $("#tt_Title").html("待检测名单("+count+ "条记录)");
            },
        });
    })

    $(document).ready(function () {
        $('#sltDate').datebox({
            onSelect: function (date) {
                $('#tt').datagrid("reload", {
                    type: 15,
                    sltDate: $("#sltDate").val()
                });
            }
        });
    });

    function TestPotencySave() {
        var obj = new Object();
        obj["DonateID"] = $("#H_DonateID").val();
        obj["DonationType"] = $("#DonationType").val();
        obj["Result"] = $("#Titer").val();
        obj["Sign"] = $("#Notes").val();
        obj["TestDoctor"] = $("#H_Operator").val();
        obj["DonorID"] = $("[data-tag='DonorID']").html();
        alert(obj["DonorID"]); return false;
        if (obj.Result == "")
        {
            errmsg("效价不能为空");
            return false;
        }
        if (obj.TestDoctor == "") {
            errmsg("操作人不能为空");
            return false;
        }
        if (obj.DonationType == "") {
            errmsg("供浆类型不能为空");
            return false;
        }
        $.post("/BloodTest/TestPotencySave", { json: JSON.stringify(obj) }, function (msg) {
            if (msg.Status == "1") {
                successmsg("发布成功");
                $('#tt').datagrid("reload", {
                    type: 15,
                    sltDate: $("#sltDate").val()
                });
                $("#H_DonateID").val("");
                $("#Titer").val("");
                $("#Notes").val("");
                $("#SearchPanel").show();
                $("#subject").hide();

            } else {
                errmsg(msg.Sign);
            }
        }, "json")
    }
</script>
