@{
    ViewBag.Title = "TestBoardReport";
   // string xhdbyc = VILNKCtr.VILNKCtr.getBankConfig("检验报告单页面的血红蛋白隐藏").ToString();
}
<style type="text/css">
    .panel-body {
        background-color: #fff;
        border-top: none;
    }
    select{
        width:80px;
        height: 22px;
        border:1px solid #ddd;
    }
</style>
<div data-options="region:'west'" data-options="collapsed:false,split:true"
     style="width: 220px; display: block; overflow: auto;">
    <div id="tt" data-options="border:false" title="酶标版"></div>
</div>
<div data-options="region:'center'">
    <table id="jyjl" fit="true"></table>
    <div style="background-color:#fff; padding:5px 0px 5px 5px;" id="seachtoolwx">
        <div style="margin-bottom:5px;">
            &nbsp;&nbsp;
            <label>检查日期：</label>
            <input type="text" name="Stime" id="Stime" class="easyui-datebox">
            <label>到</label>
            <input type="text" name="Etime" id="Etime" class="easyui-datebox">
            &nbsp;&nbsp;
            <label>档案编号：</label>
            <input type="text" name="_donorid" id="_donorid" class="dm-input1" style="width:150px"onkeydown="OK()">
            &nbsp;&nbsp;
            <label>登记号：</label>
            <input type="text" name="_donateid" id="_donateid" class="dm-input1" style="width:90px"onkeydown="OK()"></div>
        <div>
            &nbsp;&nbsp;
            <label>酶标版号：</label>
            <input type="text" name="_boardno" id="_boardno" class="dm-input1" style="width:90px"onkeydown="OK()">
            &nbsp;&nbsp;
            <label>检验结论：</label>
            <select id="testResult"onchange="Search()"
>
                <option value="">全部</option>
                <option value="合格">合格</option>
                <option value="不合格">不合格</option>
                <option value="复检">复检</option>
            </select>
            &nbsp;&nbsp;
            <button class="dm-btn-ck" onclick="Search()" type="button">搜索</button>
            <button class="dm-btn-ck" onclick="Dataexport()" type="button">导出</button>
        </div>
    </div>

</div>
<div id="dv_hidden"></div>
<script>


    var action = $("#action").val()
    function init() {
       
       
        $('#jyjl').datagrid({
            url: "@Url.Action("getTestBoardReport")",
            queryParams: {},
            toolbar: '#seachtoolwx',
            onClickCell: function (rowIndex, field, value) {
                var rows = $('#jyjl').datagrid('getRows')[rowIndex];
                 //alert(value+"--"+field + "--" + rows.DonateID);
                ChangeResult(value, rows.DonateID, field, rows.BoardNo);
            },
            fit: true,
            columns: [[
                { field: 'deid', title: '登记号', width: 60, align: 'center' },
                {
                    field: 'DonorID', title: '档案编号', width: 120, align: 'center', formatter: DonorInfo_view
                },
                { field: 'DonorName', title: '姓名', width: 60, align: 'center' },
                { field: 'Gender', title: '性别', width: 25, align: 'center' },
                 { field: 'BoardNo', title: '板号', width: 80, align: 'center' },
                 { field: 'Place', title: '板位置', width: 30, align: 'center' },
                { field: 'BloodType', title: '血型', width: 30, align: 'center' },
                { field: 'TestRes12', title: 'ALT（KarU） ', width: 70, styler: formatResult, align: 'center' },
                { field: 'TestRes17', title: '血红蛋白', width: 60, styler: formatResult, align: 'center' },
                //{ field: 'TestRes11', title: '血浆蛋白', width: 60, styler: formatResult, align: 'center' },
                 { field: 'xdb', title: '蛋白含量（g/L）', width: 86, styler: formatResult, align: 'center' },
                { field: 'TestRes13', title: 'HBsAg', width: 60, styler: formatResult, align: 'center' },
                { field: 'TestRes14', title: '抗-HCV', width: 60, styler: formatResult, align: 'center' },
                { field: 'TestRes15', title: '抗-HIV', width: 60, styler: formatResult, align: 'center' },
                { field: 'TestRes16', title: '梅毒', width: 60, styler: formatResult, align: 'center' },
                { field: 'TestResult', title: '检验结论', width: 60,styler: formatResult, align: 'center'  },
                { field: 'TestDate', title: '发布日期', width: 150, align: 'center' }
            ]], onLoadSuccess: function (data)
            {
                $("div.pagination-info").html(data.displayMsg + " ，" + $("div.pagination-info").html());
                if ('xhdbyc' == "1") {
                           $('#jyjl').datagrid('hideColumn', 'TestRes17');
                 }
                 else {
                    $('#jyjl').datagrid('showColumn', 'TestRes17');
                 }
            }
        });
    }

  

    function formatResult(value, row) {


        if (value != null) {
            if (value == "阳性" || value == "≤60g/l" || value.indexOf("＞25") > -1 || value.indexOf("不合格") > -1 || value.indexOf("<50") > -1) {

                return 'background-color:red;color:white';
            }
            else {
                if (value == "复检") {
                    return 'background-color:yellow;color:green';
                }
            }
        }
    }

    function formatGetBoardRow(val, row, index) {
        var str = "";
        var BoardNO = $("#_boardno").val();
        var DonateID = row[index]["DonateID"];
        $.get("@Url.Action("GetBoardRow")", { BoardNO: BoardNO, DonateID: DonateID }, function () {

        })
        if (row[index]["DonationType"] == "103") {
            str += "(K)";
        }
    }
    function ChangeResult(oldResult, DonateID, ItemID, BoardNo)
    {
      
        ItemID = ItemID.replace("TestRes","");
        if (isNumber(ItemID)) {
            layer.open({
                type: 2,
                area: ['300px', '350px'],
                content: '/BloodTest/ChangeResult?BoardNo=' + BoardNo + '&DonateID=' + DonateID + '&ItemID=' + ItemID + '',
                //btn: ['确定', '取消'],
                //yes: function (index, layero) {
                //    ResultSave();
                //},
                //btn2: function (index, layero) {

                //}
            });
        }
    }
    function Search() {
        $('#jyjl').datagrid("reload", { Stime: $("#Stime").val(), Etime: $("#Etime").val(), _donorid: $("#_donorid").val(), _donateid: $("#_donateid").val(), _boardno: $("#_boardno").val(), testResult: $("#testResult").val() });
        BoardList();
    }
    function OK() {
        if (event.keyCode == 13) { Search(); }
    }
    function Dataexport() {
        $.ajax({
            url: "/BloodTest/getTestBoardReport",
            data: {
                Stime: $("#Stime").val(),
                Etime: $("#Etime").val(),
                _donorid: $("#_donorid").val(),
                _donateid: $("#_donateid").val(),
                _boardno: $("#_boardno").val(),
                testResult: $("#testResult").val(),
                DataType: "export", page: 0, rows: 0,
            },
            success: function (msg) {
                var jo = eval("(" + msg + ")");
                if (jo.Status == "1") {
                    var URL = jo.URL;
                    location.href = URL;
                }
                else {
                    layer.alert(jo.Sign);
                }
            }
        })
    }
    function dbgridRefs()
    {
        Search();
    }
    function BoardList()
    {
        $('#tt').datagrid({
            url: "/BloodTest/getBloardList",
            title: "酶标版列表",
            queryParams: { type: "5", Stime: $("#Stime").val(), Etime: $("#Etime").val() },
            onClickCell: function (index, field, value) {
                var rows = $('#tt').datagrid('getRows');
                $("#_boardno").val(rows[index].BoardNo);
                Search();
            },
            rownumbers: false,
            pagination: false,
            columns: [[
                { field: 'BoardNo', title: '版号', width: 120 },
                { field: 'AllNum', title: '标本数', width: 50 },
            ]],
            onLoadSuccess: function (data) {

            },
        });
    }
    BoardList();
    init();
</script>