@{
    ViewBag.Title = "UseOfReagents";
}

<style type="text/css">
    .panel-body {
        background-color: #fff !important;
        border-top: none;
    }

    .panel-fit body {
        overflow: hidden;
    }
</style>
<table id="jyjl" fit="true"></table>
<div style="background-color:#fff; padding:5px 0px 5px 5px;" id="seachtoolwx">
    &nbsp;&nbsp;
    <label>起始时间：</label>
    <input type="text" name="Stime" id="Stime" class="easyui-datebox">
    <label>到</label>
    <input type="text" name="Etime" id="Etime" class="easyui-datebox">
    <label>酶标版号：</label>
    <input type="text" name="BoardNo" id="BoardNo" class="dm-input1" style="width:80px"onkeydown="OK()">
    &nbsp;&nbsp;
    <button class="dm-btn-ck" onclick="Search()" type="button">搜索</button>

</div>

<script>
    function init()
    {
        var Sdate = $("#Stime").val();
        var Edate = $("#Etime").val();
        var BoardNo = $("#BoardNo").val();
        $('#jyjl').datagrid({
            url: "/BloodTest/getUseOfReagents",
            queryParams: { Sdate: Sdate, Edate: Edate, BoardNo: BoardNo },
            toolbar: '#seachtoolwx',
            columns: [[
                    { field: 'DonorName', title: '姓名', width: 70, align: "center"},
                    { field: 'DonateID', title: '登记号', width: 90, align: "center"},
                    { field: 'Factory10', title: '血型-试剂生产厂家', align: "center" },
                    { field: 'BateNO10', title: '血型-试剂生产批号',  align: "center" },
                    { field: 'Factory11', title: '血浆-试剂生产厂家', align: "center" },
                    { field: 'BateNO11', title: '血浆-试剂生产批号',  align: "center" },
                    { field: 'Factory12', title: 'ALT-试剂生产厂家', align: "center" },
                    { field: 'BateNO12', title: 'ALT-试剂生产批号', align: "center" },
                    { field: 'Factory13', title: 'HBsAg-试剂生产厂家', align: "center" },
                    { field: 'BateNO13', title: 'HBsAg-试剂生产批号', align: "center" },
                    { field: 'Factory14', title: 'HCV-试剂生产厂家', align: "center" },
                    { field: 'BateNO14', title: 'HCV-试剂生产批号', align: "center" },
                    { field: 'Factory15', title: 'HIV-试剂生产厂家', align: "center" },
                    { field: 'BateNO15', title: 'HIV-试剂生产批号', align: "center" },
                    { field: 'Factory16', title: 'TP-试剂生产厂家', align: "center" },
                    { field: 'BateNO16', title: 'TP-试剂生产批号', align: "center" },
            ]],
        });
    }
    function Search() {
        $('#jyjl').datagrid("reload", { Sdate: $("#Stime").val(), Edate: $("#Etime").val(), BoardNo: $("#BoardNo").val() });
    }
    function OK() {
        if (event.keyCode == 13) { Search(); }
    }
    init();
</script>