@{
    ViewBag.Title = "View_BoardCreate";
    //string CreateType = VILNKCtr.VILNKCtr.getBankConfig("自定义酶标板号").ToString();
}

<style type="text/css">
    .panel-body {
        background-color: #fff !important;
        border-top: none;
    }
</style>
<table id="jyjl" fit="true"></table> 
<div style="background-color:#fff; padding:5px 0px 5px 5px;" id="seachtoolwx">
    &nbsp;&nbsp;

    <label>类型：</label>
    <select id="IfReTest" class="dm-input1" style="width:80px">
        <option value="0">初检</option>
        <option value="1">复检</option>
    </select>
</div>
<script>
    function init()
    {
        $('#jyjl').datagrid({
            url: "/TestConfig/get_TestBoard_Model",
            queryParams: {  },
            toolbar: '#seachtoolwx',
            onDblClickRow: function (index, row) {   },
            fit: true,
            columns: [[
                    { field: 'ModelNO', title: '模板编号', width: 110, align: "center" },
                    { field: 'AddTime', title: '创建时间', width: 100, align: "center", formatter: formatYMD },
                    { field: 'Sign', title: '备注', width: 70, align: "center" },
                    { field: 'opt', title: '操作', align: "center",   formatter: opt },
            ]]
        });
    }

    init();


    function opt(val, row, index) {

        var a = "";
        var CreateType = 'CreateType';
        if (row.isEnable == "启用") {
            if (CreateType == "1") {
                a = '<a href="#" onclick="CheckBoardNO(\'' + row.ModelNO + '\')">创建酶标板</a>&nbsp;&nbsp; ';
            } else {
                a = '<a href="#" onclick="Create(\'' + row.ModelNO + '\',\'\')">创建酶标板</a>&nbsp;&nbsp; ';
            }          
        }
        else {
            a = "-";
        }
        return a;
    }

    function CheckBoardNO(ModelNO) {
        $.get("/BloodTest/getBoardNO", {}, function (BoardNO) {
            layer.open({
                type: 1,
                area: ['250px', '160px'],
                title: '确认检测批次号',
                content: '<div style="margin:15px"><label>检测批次号：</label><input id="BoardNOInput" class="dm-input1" style="width:100px" value="' + BoardNO + '" /></div>', //这里content是一个普通的String
                btn: ['创建酶标板', '取消'],
                yes: function (index, layero) {
                    var NewBoardNO = $("#BoardNOInput").val().replace(/\s*/g, "");
                    if (NewBoardNO == "" || NewBoardNO == null) {
                        errmsg("检测批次号不能留空！");
                        return;
                    }
                    if (isNaN(NewBoardNO)) {
                        errmsg("检测批次号需是纯数字组合！");
                        return;
                    } 
                    Create(ModelNO, NewBoardNO);
                },
                btn2: function (index, layero) {
                    layer.close(index);
                },
            });
        });
    }

    function Create(ModelNO, NewBoardNO) {
        var IfReTest = $("#IfReTest").val();
        var type = '2';
        get("/BloodTest/BoardCreate", { ModelNO: ModelNO, IfReTest: IfReTest, Type: type, NewBoardNO: NewBoardNO },
            function (msg) {

                successmsg("酶标版创建完成");
                parent.Search();
                var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                parent.layer.close(index); //再执行关闭
                top.addTab(msg.BoardNO, "/BloodTest/BoardDedail?BoardNO=" + msg.BoardNO, "");
            },
            function (msg) {
                layer.alert("酶标版创建失败！原因：" + msg, { icon: 6 });
            })
    }


    //$(function () {
    //    $.get("/CodeNotes/GetCodeType", {}, function (data) {
    //        var SLT = "";
    //        var Result = eval("(" + data + ")");
    //        for (var i = 0; i < Result.length; i++) {
    //            if (Result[i]["ParentID"] == "0") {
    //                SLT += "<option  value='" + Result[i]["ID"] + "'>" + Result[i]["Title"] + "</option>";
    //            }
    //        }
    //        $("#Select01").append(SLT);
    //        form.render();
    //    });
    //})
</script>
