@{
    ViewBag.Title = "view_Result_SendCheck";
}
<style>
    .trHight {
    height:35px;
    }
    .tdLeft {
    text-align:right;
    }
     .tdRight {
    text-align:left;
    }
</style>
 <table border="0" width="98%" cellspacing="0" style="padding:10px" cellpadding="0">
    <tr class="trHight">
        <td class="tdLeft" >酶标版号：</td>
        <td class="tdRight">2</td>
    </tr>
    <tr class="trHight">
        <td class="tdLeft">检验人标本数：</td>
        <td class="tdRight" data-tag="AllNum"></td>
    </tr>
    <tr class="trHight">
        <td class="tdLeft">合格标本数：</td>
        <td class="tdRight" data-tag="PassNum"></td>
    </tr>
    <tr class="trHight">
        <td class="tdLeft">不合格标本数：</td>
        <td class="tdRight" data-tag="unPassNum"></td>
    </tr>
    <tr class="trHight">
        <td class="tdLeft">不合格项：</td>        
    </tr>
     <tr class="trHight">        
         <td colspan="2" class="tdRight" data-tag="UnPassID"></td>
     </tr>
    <tr class="trHight">
        <td class="tdLeft">签发人：</td>
          <td class="tdRight">  <input type="text" name="SendDoctor" id="SendDoctor" class="dm-input1" onfocus="UserSign(this.id,'签发人签名','Board','6')" style="width:80px" />
                    <input type="hidden" ID="SHFID" name="SHFID" /></td>
        @*<td class="tdRight"><input type="text" id="SendDoctor"  class="dm-input1" style="width:100px" value="@VilnkDAL.OAFunction.GetUserInfo().UserName"/></td>*@
    </tr>
    <tr class="trHight">
        <td class="tdLeft">签发时间：</td>
        <td class="tdRight"><input type="text" id="SendDate" class="dm-input1" style="width:140px" value="@DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss")" /></td>
    </tr>
     <tr class="trHight">
         <td colspan="2" align="center"><input type="button" value="保存" onclick="save()" /></td>
     </tr>
</table>