body {
    margin:0px;
    padding:0px;
    background-color:#EFEFEF !important;
    width: 100%;
    height: 100%;
    font-family: 'Microsoft Yahei',Tahoma,verdana,\5FAE\8F6F\96C5\9ED1;
    font-size: 16px;
}
.datagrid-cell, .datagrid-cell-group, .datagrid-header-rownumber, .datagrid-cell-rownumber{
    font-size: 14px;
}
*{
    margin: 0px;
    padding:0px;
    list-style: none;
}
.dm-top{
    overflow: hidden;
}
.layout-split-west{
    border-right-color:#ddd !important;
    background-color:#fff !important;
}
.layout-split-west{
    border-right: 0px !important;
}
.layout-split-west .panel-body{
    background-color:#fff !important;
    border:none !important;
}
.layout-split-west .easyui-accordion .panel-body{
    background-color:#EFEFEF !important;
}
.layout-split-west .panel-header {
    background-color: #fff !important;
    border:none !important;
}
.dm-zlsc{
    background-color:#14AA85;
    color: #fff;
    width: 100px;
    height:34px;
    line-height: 34px;
    text-align: center;
    margin-left: 10px;
}
.window .window-header .panel-icon, .window .window-header .panel-tool{
    top: 30% !important;
}
.gz.dm-ydq{
    background-color: #FC9646;
}
.gqwb.dm-ydq{
    background-color: #F05151;
}
.dqwb.dm-ydq{
    background-color: #1AB394;
}
.dqnj.dm-ydq{
    background-color: #F8AC59;
}
.gqnj.dm-ydq{
    background-color: #8EBB22;
}
.dxy.dm-ydq{
    background-color: #01A0B3;
}
.cqxy.dm-ydq{
    background-color: #D52626;
}
.dm-zl-box{
    border:1px dashed #ccc;
    overflow: hidden;
    padding:10px;
    margin-bottom: 10px;
}
.dm-zl-box span{
    display: block;
    color:#14AA85;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 15px;
    border-left: 4px solid #14AA85;
    padding-left: 5px;
}
.dm-xq-btnz{
    padding:10px;
    overflow: hidden;
}
.dm-xq-btnz .btn{
    border-radius:50px;
    padding:6px 10px;
    border:0px;
    min-width: 100px;
    color: #fff;
    cursor: pointer;
}
.dm-xq-btnz .btn1{
    background-color: #23b7e5;
    border-color: #23b7e5;
}
.dm-xx1{
    border:1px dashed #ddd;
    overflow: hidden;
    padding:10px;
    margin-bottom:10px;
}
.dm-xx-ti{
    margin:0px 0px 20px;
    overflow: hidden;
    color: #14AA85;
    font-weight: bold;
    border-left: 2px solid #14AA85;
    padding-left: 5px;
}
.dm-xq-btnz .btn2{
    background-color: #ed5565;
    border-color: #ed5565;
}
.dm-xq-btnz .btn3{
    background-color: #27c24c;
    border-color: #27c24c;
}
.dm-xq-btnz .btn4{
    background-color: #f8ac59;
    border-color: #f8ac59;
}
.dm-xq-btnz .btn5{
    background-color: #14AA85;
    border-color: #14AA85;
}

.dm-logo{
    color: #fff;
    font-size: 22px;
    padding-left: 10px;
    height: 45px;
    line-height: 45px;
    float: left;
}
.dm-logo img{
    display: block;
    float: left;
    padding-right:10px;
    width: 30px;
    padding-top: 9px;
}
.dm-one-menu{
    height: 58px;
    float: left;
}
.dm-one-menu li{
    float: left;
    padding:0px 15px;
    height: 58px;
    color: #fff;
    border-right: 1px solid #0E79C9;
    cursor: pointer;
}
.dm-one-menu li span.menu-ico1{
    display: block;
    text-align: center;
    padding-top: 13px;
}
.dm-one-menu li.dm-select1{
    background-color:#0E7ED1;
}
.dm-one-menu li:hover{
    background-color:#0E7ED1;
}
.dm-bottom-left{
    height: 30px;
    line-height: 30px;
    width: 200px;
    float: left;
    margin-left: 10px;
}
.dm-b1{
    background-color:#3379E2 !important
}
.dm-bottom-right{
    height: 30px;
    line-height: 30px;
    width: 600px;
    float: right;
}
.dm-zt{
    color:#008000;
    font-weight: bold;
}
.dm-top-right{
    float: right;
    color: #fff;
    margin-right: 10px;
}
.top-right1{
    padding-top: 3px;
    display: block;
}
.top-right2{
    float: right;
    padding-top: 3px;
}
.top-right2 span{
    cursor: pointer;
}
.w60{
    width: 50px;
    float: left;
    cursor: pointer;
}
.w80{
    width: 80px;
    float: left;
    cursor: pointer;
}
.w60:hover,.w80:hover{
    text-decoration: underline;
}
.dm-r10{
    margin-right: 10px;
    display: block;
    float: left;
}
.dm-menu-left li{
    height: 30px;
    line-height: 30px;
    padding-left: 35px;
    cursor: pointer;
    color:#333;
}
.dm-menu-left li:hover{
    background-color:#14AA85;
    color: #fff;
}
.tabs-header,.tabs-panels{
    border-width: 0px !important;
    background-color: #fff;
}
.tabs li.tabs-selected a.tabs-inner{
    background-color: #14AA85;
    color: #fff;
    border-bottom-color: #14AA85;
    border-radius: 0px;
    padding:0px 15px;
    border-top: #f8ac59 2px solid;
    border-left: 0px solid #14AA85;
    border-right: 0px solid #14AA85;
}
.accordion .accordion-header-selected{
    background-color:#14AA85 !important;
    color: #fff;
}
.accordion .accordion-header-selected .panel-title,.accordion .accordion-header-selected .fa{

}

.layout-expand{
    background-color: #3D4B5E !important;
}
.dialog-button{
    top: 0px !important;
}
.panel-header,.panel-title{
    height: 30px !important;
    line-height: 30px !important;
    color: #333;
    font-size: 14px;
    font-weight: normal;
}
.accordion{
    border-width: 0px !important;
}

.panel-icon, .panel-tool{
    margin-top: 0px !important;
}
.dm-con{
    width: 100%;
    overflow: hidden;
}
.con1{
    width: 48%;
    float: left;
}
.con2{
    width: 48%;
    float: right;
}
.c-txt{
    padding: 10px;
    overflow: hidden;
}
.c-txt p{
    line-height: 22px;
}
.dm-kbtn li {
    float: left;
    margin-right: 10px;
    list-style: none;
    cursor: pointer;
    color: #fff;
}
.dm-xw{
    width: 30%;
    float: left;
    background-color: #fff;
    border:1px solid #E3E6E8;
    margin-right: 30px;
}
.dm-xw-title{
    height: 35px;
    line-height: 35px;
    color:#3379E2;
    padding-left: 10px;
    border-bottom: 1px solid #E3E6E8;
    font-size: 14px;
}
.dm-xw-list{
    padding:10px;
    overflow: hidden;
}
.dm-xw-list li{
    line-height: 28px;
    list-style-type:square;
    list-style-position: inside;
    color: #999;
    font-size: 14px;
}
.dm-xw-list li a:link,.dm-xw-list li a:visited{
    color: #52687e;
    text-decoration: none;
}
.dm-xw-list li a:hover,.dm-xw-list li a:active{
    color: #ff8400;
    text-decoration: underline;
}

.dm-btn{
    width: 70px;
    height: 60px;
    padding: 5px;
    border-radius: 5px;
}
.dm-btn1{
    background-color: #5ABD6B;
}
.dm-btn2{
    background-color: #98B701;
}
.dm-btn3{
    background-color: #FEBD59;
}
.dm-btn4{
    background-color: #59B7FF;
}
.dm-btn5{
    background-color: #83A5D2;
}
.dm-kbtn .fa{
    font-size: 30px;
    color: #fff;
}
.dm-kbtn span {
    display: block;
    text-align: center;
}
.dm-btn-img {
    height: 35px;
    margin-top: 5px;
}
.dm-title1{
    height: 35px;
    line-height: 35px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 5px;
}
.dm-t1{
    font-weight: bold;
    font-size: 13px;
}
.dm-more{
    float: right;
}
.dm-more a:link,.dm-more a:visited{
    color: #333;
    text-decoration: none;
}
.dm-more a:hover,.dm-more a:active{
    color: #1091EF;
    text-decoration: underline;
}
.dm-list li{
    height: 28px;
    line-height: 28px;
}
.list-title{
    display: block;
    float: left;
}
.list-time{
    display: block;
    float: right;
}
.dm-list a:link,.dm-list a:visited{
    color: #333;
    text-decoration: none;
}
.dm-list a:hover,.dm-list a:active{
    color: #1091EF;
    text-decoration: underline;
}
.mr20{
    margin-top: 20px;
}
.td-bg{
    background-color: #e5e5e5;
}
.td-bb{
    border-bottom: 1px dashed #ccc;
}
.dm-lbtn{
    overflow: hidden;
    margin-bottom: 5px;
}
.l-btn-icon-left .l-btn-icon{
    top:15px;
}
.dm-lbtn .l-btn-icon-left .l-btn-text{
    margin-left: 20px !important;
}
.dm-fy{
    border-top-width:0px !important;
}
.window, .window-shadow{
    border-radius: 0px !important;
}

.window .window-body{
    border-width: 0px !important;
}
.window{
    width: 712px;
    padding: 0px !important;
    border-width: 0px !important;
}
.panel-header-noborder{
    padding: 5px !important;
    width: 702px;
}
.window .window-header .panel-icon{
    left: 10px !important;
}
.window .window-header .panel-with-icon {
    padding-left: 25px !important;
}
.window .window-header .panel-tool {
    right: 5px !important;
}
.dm-1 .fa{
    color: #33CC66;
    font-size: 14px;
}
.dm-2 .fa{
    color: #CC3333;
    font-size: 14px;
}
.dm-3 .fa{
    color: #0594F3;
    font-size: 14px;
}
.dm-4 .fa{
    color: #CC3333;
    font-size: 14px;
}
.dm-5 .fa{
    color: #FF6600;
    font-size: 14px;
}
.dm-dialog-menu{
    height: 32px;
    line-height: 32px;
    overflow: hidden;
    margin-bottom: 2px;
}
#dlg .bg1{
    background-color:#EEEEEE;
}
#dlg .datagrid-header td, .datagrid-body td, .datagrid-footer td {
    border-color: #DADADA;
}
.validatebox-readonly{
    background-color: #eee !important;
}
.textbox-readonly{
    background-color: #eee !important;
    width: 100% !important;
    border-radius: 0px !important;
}
#dlg .l-btn{
    color:#5D5B60 !important;
}
.dm-br{
    border-right: 1px solid #DADADA;
}
.dm-br1{
    border-right: 1px dashed #DADADA;
}
.dm-bb1{
    border-bottom: 1px dashed #DADADA;
}
#dlg .dm-fy {
    border-top-width: 1px !important;
}
#dlg .l-btn{
    box-shadow:none !important;
    border-radius: 2px !important;
}
.dm-d1 {
    background-color: #fff;
    padding: 15px;
    overflow: hidden;
    border: 1px solid #E3E6E8;
    margin-bottom: 10px;
}
.dm-d4 {
    background-color: #fff;
    padding: 10px;
    overflow: hidden;
    border: 1px solid #E3E6E8;
    margin-bottom: 10px;
}
.d1-left {
    font-size: 14px;
}
.tabs-title{
    font-size: 14px;
}
.hy {
    display: block;
    margin-bottom: 5px;
    border-bottom: 1px dashed #ddd;
    padding-bottom: 10px;
}
.d1-left .color1 {
    color: #14AA85;
}
.d1-left .s17 {
    font-size: 18px;
}
.d2-right {
    float: left;
    margin-top: 5px;
}
.d2-right li {
    float: left;
    height: 60px;
    line-height: 60px;
    color: #fff;
    font-size: 18px;
    margin-right: 20px;
    cursor: pointer;
}
.d2-right .btn1 {
    background-color: #4DBA79;
    height: 60px;
    border-radius: 5px;
    padding:0px 10px;
}
.img-btn {
    padding-left: 15px;
    padding-right: 10px;
}
.d2-right .btn2 {
    background-color: #1AA0D7;
    height: 60px;
    border-radius: 5px;
}
.d2-right .btn3 {
    background-color: #FC9646;
    height: 60px;
    border-radius: 5px;
}
.panel-body{
    background-color:#efefef !important;
    color:#676a6c;
    font-size: 14px;
}
.d-mo2-txt li{
    border-bottom: 1px dashed #ddd;
    padding-top: 10px;
}
.d-mo2-txt img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
}
.text-muted{
    color:#888;
}
.social-body {
    padding: 15px;
}
.social-avatar a {
    font-size: 14px;
    display: block;
}
img {
    vertical-align: middle;
}
.dm-d2 {
    width: 100%;
    overflow: hidden;
    padding-bottom: 10px;
}
.dm-d3 {
    width: 100%;
    overflow: hidden;
    padding-bottom: 5px;
}
.d-mo2-left {
    width: 50%;
    float: left;
}
.d-mo2-right {
    width: 83%;
    float: right;
}
.d-mo2-title {
    background-color: #f5f5f5;
    height: 40px;
    line-height: 40px;
    color: #129877;
    padding: 0px 10px;
    font-size: 16px;
    border: 1px solid #E3E6E8;
}
.d-mo2-txt {
    border-left: 1px solid #E3E6E8;
    border-right: 1px solid #E3E6E8;
    border-bottom: 1px solid #E3E6E8;
    background-color: #fff;
    padding: 15px;
    min-height: 250px;
}
.d-mo2-txt1 {
    border-left: 1px solid #E3E6E8;
    border-right: 1px solid #E3E6E8;
    border-bottom: 1px solid #E3E6E8;
    background-color: #fff;
    padding: 0px 0px 15px;
    min-height: 250px;
}
.dm-rwss{
    height: 50px;
    line-height: 50px;
    padding:0px 15px;
}
.d-mo2-title .more {
    float: right;
}
.d-mo2-title .more a:link,.d-mo2-title .more a:visited {
    text-decoration: none;
    color:#129877;
}
.dm-tb1 th{
    font-size: 15px;
    height:40px;
    background-color:#DDF2E6;
}
.dm-btn-xq{
    line-height: 30px;
    border:1px solid #4DBA79;
    color: #4DBA79;
    margin-right: 10px;
    padding: 5px 20px;
    cursor: pointer;
    border-radius: .25em;
}
.dm-btn-xq:hover{
    background-color: #4DBA79;
    color: #fff;
}
.dm-btn-zl:hover{
    background-color: #1AA0D7;
    color: #fff;
}
.dm-btn-ts:hover{
    background-color: #E15858;
    color: #fff;
}
.dm-btn-zl{
    padding: 5px 20px;
    line-height: 30px;
    border:1px solid #1AA0D7;
    color: #1AA0D7;
    margin-right: 10px;
    cursor: pointer;
    border-radius: .25em;
}
.dm-btn-ts{
    padding: 5px 20px;
    line-height: 30px;
    border:1px solid #E15858;
    color: #E15858;
    cursor: pointer;
    border-radius: .25em;
}
.dm-tb1 td{
    text-align: center;
    height: 60px;
    font-size: 14px;
    border-bottom: 1px dashed #ddd;
}
.dm-tb1 .dm-gq td{
    color: #D52626;
}
.label {
    color: #FFF;
    font-size: 12px;
    font-weight: 600;
    padding: 3px 8px;
    border-radius: .25em;
}
.dm-ydq{
    background-color: #1AA0D7;
}
.dm-ygq{
    background-color: #D52626;
}
.dm-dqwb{
    background-color: #1AB394;
}
.dm-dqnj{
    background-color: #F8AC59;
}
.d-mo2-title .more a:hover,.d-mo2-title .more a:active {
    text-decoration: underline;
    color:#23527c;
}
.l {
    padding-left: 10px;
}
.fw {
    font-weight: bold;
    font-size: 13px;
    border-bottom: 1px solid #E3E6E8;
    line-height: 30px;
}
.aa {
    padding-left: 10px;
    line-height: 30px;
    border-bottom: 1px dashed #e8e8e8;
    font-size: 12px;
    cursor: pointer;
}
.aa:hover{
    color: #5CB0E7;
}
.r {
    text-align: right;
    padding-right: 10px;
}
.tabs{
    height: 37px !important;
}
.tabs li{
    margin-top: 5px !important;
}
.tabs li a.tabs-inner{
    height: 31px !important;
    border-radius: 0px;
}
.tabs-p-tool a:hover, .tabs li a:hover.tabs-close, .tabs-scroller-over{
    background-color: transparent !important;
}
.tabs-icon{
    margin-top: -5px !important;
}
.tabs li.tabs-selected a.tabs-close {
    background: url(/content/easyui/themes/material/images/tabs_icons1.png) no-repeat -34px center;
}
.dm-save{
    background-color: #14AA85 !important;
    padding: 0px 15px;
    border:1px solid #14AA85;
    color:#fff;
    border-radius: 2px;
    height: 28px;
    line-height: 28px;
}
.dm-close{
    background-color: #Ddd !important;
    padding: 0px 15px;
    border:1px solid #DEDEDE;
    color:#333;
    border-radius: 2px;
    height: 28px;
    line-height: 28px;
}
.l-btn-text{
    line-height: 28px !important;
}
.dm-save:hover{
    background-color: #129877 !important;
    border-color:#129877 !important;
    padding: 0px 15px;
    color:#fff;
    border-radius: 2px;
    height: 28px;
    line-height: 28px;
}
.dm-close:hover{
    background-color: #E1E1E1 !important;
    border-color:#E1E1E1 !important;
    padding: 0px 15px;
    color:#333;
    border-radius: 2px;
    height: 28px;
    line-height: 28px;
}
.window .panel-title{
    color:#676a6c !important;
}
.dm-table td:nth-child(odd){   /*奇数*/
    text-align: right;
    height: 34px;
    padding-bottom: 15px;
    color:#676a6c;
    font-weight: bold;
    font-size: 12px;
    width: 23%;
    padding-right:15px;
}
.dm-table td:nth-child(even){  /*偶数*/
    text-align: left;
    padding-left:15px;
    padding-bottom: 15px;
}
.dm-input{
    height: 24px;
    border: 1px solid #cfdadd;
    width: 78% !important;
    padding: 5px 10px;
    line-height: 24px;
}


.dm_from{
    padding-top: 20px;
}
.dm_from .textbox-text{
    height: 34px !important;
    line-height: 34px !important;
    width: 100% !important;
}
.dm_from .textbox-addon-right a{
    height: 34px !important;
    line-height: 34px !important;
}
.dm_from .textbox{
    width: 75% !important;
    height: 34px;
    border-color:#cfdadd !important;
    border-radius: 0px !important;
}
.datagrid-header-row,.datagrid-row{
    height: 34px !important;
}
.datagrid-htable,.datagrid-header-inner{
    background-color: #f2f2f2 !important;
}
.datagrid-body{
    background-color: #fff;
}
.datagrid-header, .datagrid-td-rownumber{
    background-color: #f2f2f2 !important;
}
.btn-info{
    color: #ffffff !important;
    background-color: #14AA85;
    border-color: #14AA85;
    border:none;
    padding: 6px 12px;
    cursor: pointer;
}
.btn-info:hover{
    background-color: #129877;
    border-color: #129877;
}
.btn-info1{
    color: #ffffff !important;
    background-color: #1AA0D7;
    border-color: #1AA0D7;
    border:none;
    padding: 6px 12px;
    cursor: pointer;
}
.btn-info1:hover{
    background-color: #147DAB;
    border-color: #147DAB;
}
.oa-search{
    padding: 10px 0px;
    overflow: hidden;
    font-size: 14px;
}
.oa-search .textbox-text{
    height: 28px !important;
    line-height: 28px !important;
}
.datagrid-view1 .datagrid-header,.datagrid-view2 .datagrid-header{
    border-color:#ddd !important;
}
.datagrid-header td, .datagrid-body td, .datagrid-footer td{
    border-color:#ddd !important;
}
.datagrid-row-over{
    background-color:#F5F5F5 !important;
}
.datagrid-row-selected{
    background-color:#FDF4B5 !important;
    color:#404040 !important;
}
.easyui-tabs.tabs-container.easyui-fluid .tabs-header{
    margin-bottom: 5px;
}
.panel-fit body{
    overflow-y:auto !important;
}
/*.panel-fit, .panel-fit body {
    overflow:auto !important;
}*/

.dm-table .edui-container{
    box-shadow:none !important;
    border-color: #cfdadd !important;
}
.dm-table .edui-container .edui-toolbar{
    box-shadow:none !important;
    border-bottom-color: #cfdadd !important;
}
.dm-m-xg {
    height: 20px;
    line-height: 20px;
    color: #47A4B3 !important;
    margin-right: 8px;
}
.dm-m-sc {
    height: 20px;
    line-height: 20px;
    color: #DD5A43 !important;
    margin-right: 8px;
}
.dm-m-xq {
    height: 20px;
    line-height: 20px;
    color: #69aa46 !important;
    margin-right: 8px;
}
a {
    color: #337ab7;
    text-decoration: none;
}
.datagrid-cell a:hover{
    text-decoration: underline;
    cursor: pointer;
}
.easyui-datetimebox{
    width: 150px;
    height: 28px;
    padding: 0px 5px;
    border:1px solid #ddd;
}
.easyui-datebox{
    width: 100px;
    height: 28px;
    padding: 0px 5px;
    border:1px solid #ddd;
}
.dm-tabs .tabs-header{
    background-color: transparent !important;
}
.dm-tabs .tabs li a.tabs-inner{
    background-color: transparent;
    border:none;
    height: 38px !important;
}
.dm-tabs .tabs li.tabs-selected a.tabs-inner{
    background-color: #fff !important;
    color: #555 !important;
    border:1px solid #e7eaec;
}
.dm-tabs .tabs{
    padding-left: 0px !important;
    border-bottom-color: #e7eaec !important;
}
.dm-tabs .tabs li{
    margin-top: 0px !important;
}
.dm-tabs .tabs li a.tabs-inner{
    color:#A7B1C2 !important;
    font-weight: bold;
    padding:0px 20px 0px 25px;
}
.dm-tabs .tabs-header{
    margin-bottom: -1px !important;
}
.dm-tabs .tabs-panels .panel-body{
    background-color: #fff !important;
}
.dm-tabs .tabs-panels{
    border-top: none !important;
    border-left-width: 1px !important;
    border-right-width: 1px !important;
    border-bottom-width: 1px !important;
    border-color: #e7eaec !important;
}
.dm-tabs td:nth-child(odd){   /*奇数*/
    text-align: right;
    height: 34px;
    padding-bottom: 15px;
    color:#676a6c;
    font-weight: bold;
}
.dm-tabs td:nth-child(even){  /*偶数*/
    text-align: left;
    padding-left:15px;
    padding-bottom: 15px;
}
.dm-tabs .dm-input1{
    height: 24px;
    border: 1px solid #cfdadd;
    padding: 5px 10px;
    line-height: 24px;
}
.dm-tabs .textbox-text {
    height: 32px !important;
    line-height: 32px !important;
}
.dm-tabs .textbox {
    height: 32px;
    border-color: #cfdadd !important;
    border-radius: 0px !important;
    width: 95% !important;
}
.dm-tabs .easyui-datebox{
    width: 90% !important;
}
.dm-tabs1 .tabs-header{
    background-color: transparent !important;
}
.dm-tabs1 .tabs li a.tabs-inner{
    background-color: transparent;
    border:none;
    height: 38px !important;
}
.dm-tabs1 .tabs li.tabs-selected a.tabs-inner{
    background-color: #fff !important;
    color: #555 !important;
    border:1px solid #e7eaec;
}
.dm-tabs1 .tabs{
    padding-left: 0px !important;
    border-bottom-color: #e7eaec !important;
}
.dm-tabs1 .tabs li{
    margin-top: 0px !important;
}
.dm-tabs1 .tabs li a.tabs-inner{
    color:#666 !important;
    padding:0px 20px 0px 25px;
}
.dm-tabs1 .tabs-header{
    margin-bottom: -1px !important;
}
.dm-tabs1 .tabs-panels .panel-body{
    background-color: #fff !important;
}
.dm-tabs1 .tabs-panels{
    border-top: none !important;
    border-left-width: 1px !important;
    border-right-width: 1px !important;
    border-bottom-width: 1px !important;
    border-color: #e7eaec !important;
}
.dm-tabs1 .dm-input1{
    height: 24px;
    border: 1px solid #cfdadd;
    padding: 5px 10px;
    line-height: 24px;
}
.dm-tabs1 .textbox-text {
    height: 32px !important;
    line-height: 32px !important;
}
.dm-tabs1 .textbox {
    height: 32px;
    border-color: #cfdadd !important;
    border-radius: 0px !important;
    width: 95% !important;
}
.dm-tabs1 .easyui-datebox{
    width: 90% !important;
}
.dm-td1{
    width: 120px;
    text-align: right;
    padding-right: 15px;
    height: 30px;
    line-height: 30px;
}
.dm-bz{
    width:90%;
    margin:0px auto;
    padding: 20px 0px;
    overflow: hidden;
}
.dm-htbg{
    width:75%;
    margin:0px auto;
    padding-top: 5px;
    overflow: hidden;
    height: 62px;
}
.step0{
    width: 50px;
    height: 60px;
    z-index: 1;
    position: relative;
    top: -25px;
    float: left;
    text-align: center;
    left: -5px;
}
.step1{
    width: 60px;
    height: 80px;
    z-index: 1;
    position: relative;
    top: -25px;
    left: 15%;
    float: left;
}
.step2{
    width: 60px;
    height: 80px;
    z-index: 1;
    position: relative;
    top: -25px;
    left: 33%;
    float: left;
}
.step3{
    width: 60px;
    height: 80px;
    z-index: 1;
    position: relative;
    top: -25px;
    left: 50%;
    float: left;
    text-align: center;
}
.step4{
    width: 50px;
    height: 80px;
    z-index: 1;
    position: relative;
    top: -25px;
    left: 65%;
    float: left;
    text-align: center;
}
.stbg{
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color:#fff;
    background-color: #ccc;
    font-size: 20px;
    border-radius: 100%;
    margin:0px auto;
}
.st-txt{
    height: 20px;
    line-height: 20px;
}
.st-line0{
    width: 30%;
    height: 10px;
    background-color: #ccc;
    border-radius: 20px;
    margin-top: 20px;
    position: relative;
    z-index: 0;
    float: left;
}
.st-linex0{
    width: 25%;
    height: 10px;
    background-color: #ccc;
    border-radius: 20px;
    margin-top: 20px;
    position: relative;
    z-index: 0;
    float: left;
}
.st-linex1{
    width: 25%;
    height: 10px;
    background-color: #ccc;
    border-radius: 20px;
    margin-top: 20px;
    position: relative;
    z-index: 0;
    float: left;
}
.st-linex2{
    width: 25%;
    height: 10px;
    background-color: #ccc;
    border-radius: 20px;
    margin-top: 20px;
    position: relative;
    z-index: 0;
    float: left;
}
.st-linex3{
    width: 22%;
    height: 10px;
    background-color: #ccc;
    border-radius: 20px;
    margin-top: 20px;
    position: relative;
    z-index: 0;
    float: left;
}
.st-lbg{
    background-color: #4DBA79 !important;
}
.st-line1{
    width: 30%;
    height: 10px;
    background-color: #ccc;
    border-radius: 20px;
    margin-top: 20px;
    position: relative;
    z-index: 0;
    left: 1%;
    float: left;
}
.st-line2{
    width: 30%;
    height: 10px;
    background-color: #ccc;
    border-radius: 20px;
    margin-top: 20px;
    position: relative;
    z-index: 0;
    left: 62%;
}
.stbg1 .stbg{
    background-color:#4DBA79;
}
.dm-next-btn{
    width: 120px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background-color:#ccc;
    margin: 40px auto 0px;
    color: #fff;
    cursor: pointer;
    float: right;
}
.dm-next-btn2{
    width: 120px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background-color:#4DBA79;
    margin: 40px auto 0px;
    color: #fff;
    cursor: pointer;
    float: right;
}
.dm-w300{
    width: 50%;
    height: 80px;
    float: left;
}
.dm-t-main{
    margin:0px 20px;
    overflow: hidden;
}
.dm-t-title{
    text-align: center;
    padding:20px 0px 5px;
}
.dm-t-ft{
    text-align: center;
    color: #999;
    font-size: 12px;
    border-bottom: 1px dashed #ccc;
    padding-bottom: 5px;
}
.dm-t-txt{
    text-indent: 2em;
    font-size: 12px;
    padding-top: 10px;
    line-height: 25px;
    color: #666;
}
.dm-fr{
    float: right;
}
.dm-nbtn {
    height: 80px;
    text-align: center;
    margin: 0px auto;
    width: 300px;
}
.dm-table .easyui-datebox{
    border-color:#cfdadd !important;
    width: 75% !important;
    height: 34px !important;
}
.dm-fjsc{
    width: 90px;
    height: 35px;
    line-height: 35px;
    background-color: #14AA85;
    text-align: center;
    color: #fff;
    margin-left: 40px;
    cursor: pointer;
    float: left;
    margin-right:20px;
}
.dm-fj-list{
    float: left;
    width: 100%;
}
.dm-fj-list li{
    height: auto;
    line-height: 25px;
    border-bottom: 1px dashed #8EBBDF;
    padding: 8px 0px;
    font-size: 14px;
}
.dm-st td{
    padding-bottom: 15px;
}
.dm-st .easyui-datebox,.dm-st .easyui-datetimebox{
    width: 73% !important;
    border-color: #cfdadd !important;
    height: 34px;
}
.dm-st td:nth-child(odd){   /*奇数*/
    padding-right:15px;
}
.dm-fjsc a{
    color: #fff !important;
    cursor: pointer;
}
.panel.combo-p.panel-htop{
    box-shadow:none !important;
}
.panel.combo-p.panel-htop .combo-panel{
    background-color: #DEF4FE !important;
    border-color:#ACE2FD !important;
}
.panel.combo-p.panel-htop .combo-panel .combobox-item-hover{
    background-color:#ACE2FD !important;
}
.radio {
        display: inline-block;
        position: relative;
        line-height: 18px;
        margin-right: 10px;
        cursor: pointer;
    }

    .demo_label {
        margin: 0px 20px 0 0;
        display: inline-block;
    }

    .demo_radio {
        display: none;
    }

    .demo_radioInput {
        background-color: #fff;
        border: 1px solid rgba(0,0,0,0.15);
        border-radius: 100%;
        display: inline-block;
        height: 16px;
        margin-right: 10px;
        margin-top: -1px;
        vertical-align: middle;
        width: 16px;
        line-height: 1;
    }

    .demo_radio:checked + .demo_radioInput:after {
        background-color: #57ad68;
        border-radius: 100%;
        content: "";
        display: inline-block;
        height: 12px;
        margin: 2px;
        width: 12px;
    }

    .demo_checkbox.demo_radioInput, .demo_radio:checked + .demo_checkbox.demo_radioInput:after {
        border-radius: 0;
    }